<div class="sb-widget">
    <div class="widget__header">
        <div class="widget__title">
            {{ title }}
        </div>
        <div ng-transclude="header"></div>
    </div>

    <sb-loading
     class="sb-loading--widget"
     target="{{ loaderTarget }}">
    </sb-loading>

    <div ng-transclude="body"></div>

    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>
