.sb-header {

}

    .sb-header__content {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: $sb-header-h;
        line-height: $sb-header-h;
        background-color: $b-color;
        transition: left 0.3s ease;

        @include bp(xlg) {
            left: $sidebar-w;
        }
    }

    .sb-header__burger {
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
        width: 18px;
        height: 11px;
        cursor: pointer;

        @include bp(xlg) {
            display: none;
        }
    }

    .sb-header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: 40px;
        transform: translate(-50%, -50%);
    }

    .sb-header__signout {
        float: right;
        padding: 0;
        line-height: $sb-header-h;
        border: none;
        background: transparent;
        color: #fff;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }