<div class="sb-header">
    <div class="sb-header__content container">
        <img class="sb-header__burger"
         ng-click="toggleSidebar(true);"
         src="assets/images/icn_menu.png">

        <img class="sb-header__logo"
         src="assets/images/logo_sbg_header.png">

        <a ng-click="openSignOut()"
        class="sb-header__signout">
            Sign out
        </a>
    </div>

    <sb-modal
     modal-show="signoutOpen">
        <sb-signout
         callback-cancel="signoutCancel"
         callback-signout="signoutSignout">
        </sb-signout>
    </sb-modal>
</div>