.sb-chartBar {
    position: relative;
    box-sizing: border-box;

    .axis {
        path,
        line {
            fill: none;
            stroke: #e6e6e6;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
    }

    .tick {
        text {
            font-size: 10px;
            fill: #999;

            tspan {
                &:last-child {
                    fill: #ccc;
                }
            }
        }
    }

    &__chart {
        overflow: hidden;
    }

    &__pagination {
        position: absolute;
        bottom: 36px;
        font-size: 18px;
        color: #999;

        .icon {
            font-size: inherit;
            color: inherit;
        }

        &[disabled] {
            cursor: not-allowed;
            color: #e1e1e1;
        }

        &--previous {
            left: 62px;
            transform: translate(-100%, 100%);
        }

        &--next {
            right: 0;
            transform: translate(0, 100%);
        }
    }

    &__tooltip {
        &__value {
            font-family: $b-font-family-alt;
            font-size: 12px;
            color: #0033aa;
        }
    }
}
