<div class="sb-chartBar">
    <div class="sb-chartBar__chart"></div>
    <span ng-hide="pageMax === 0">
        <a class="sb-chartBar__pagination
                  sb-chartBar__pagination--previous"
         ng-click="pagePrevious()"
         ng-disabled="page === 0">
            <i class="icon icon--reverse icon-arrow-right"></i>
        </a>
        <a class="sb-chartBar__pagination
                  sb-chartBar__pagination--next"
         ng-click="pageNext()"
         ng-disabled="page === pageMax">
            <i class="icon icon-arrow-right"></i>
        </a>
    </span>
    <sb-tooltip show-tooltip="tooltip.isActive"
     show-circle="true"
     x="tooltip.x"
     y="tooltip.y"
     circle-color="tooltip.circleColor">
        <div class="sb-chartBar__tooltip__value">
            {{ tooltip.value }}
        </div>
    </sb-tooltip>
</div>
