.sb-customerLocationRange {
    height: 199px;
}

.customerLocation_wrap{
    height: 123px;
}

.sb-customerLocationRange__loading{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.customerLocation-item__content {
    padding: 0 $spacing-sm 0 24px;
    height: 56px;
    display: table;
}

.customerLocation-item__group {
    float: left;
    width: 195px;
}

.customerLocation-item__row {
    line-height: 28px;
    position: relative;
}

$icon-wrapper-line: 0 0 0 1px #0033aa;

.customerLocation-item__icon-wrapper {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: $icon-wrapper-line;
}

.customerLocation-item__icon-wrapper__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 8px;
    transform: translate(-50%, -50%);
}

.customerLocation-item__content__title {
    padding: 0 $spacing-sm 0 26px;
    font-size: 12px;
    font-family: $b-font-family;
    color: #0033aa;
}

.customerLocation_wrap{
    min-height: 100px;
}

.customerLocation-item__row_mainText{
    color: #3366cc;
    font-size: 22px;
    float: left;
    width: 45px;
}

.customerLocation-item__row_subText{
    color: #999999;
    font-size: 10px;
}

.customerLocation-item__group_map{
    width: 414px;
    height: 110px;
    border: solid 4px #d8d8d8;
}

