<div class="sb-customerLocationRange">
    <sb-loading target="customerLocationRange" class="sb-customerLocationRange__loading"></sb-loading>

    <div class="widget__header">
        <div class="widget__title">Customer location</div>
        <!--<i class="icon icon-refresh filter__refresh"-->
           <!--ng-click="getData()">-->
        <!--</i>-->
    </div>
    <div class="widget__content-wrap customerLocation_wrap">
        <div class="widget__content">
            <div class="customerLocation-item__content">
                <div class="customerLocation-item__group">
                    <div id="map" class="customerLocation-item__group_map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>

</div>
