.sb-donutChart {
  position: relative;
  margin-bottom: $spacing-md;
  text-align: left;

  @include bp(xlg) {
    margin: 0;
    margin-right: $spacing-md;
  }

  .slice {
    stroke: white;
    stroke-width: 1;
  }

  &__tooltip{
    font-family: $b-font-family;

    &__value{
      font-size: 12px;
      font-weight: bold;
    }

    &__label{
      font-size: 10px;
      color: #999999;
    }
  }
}