<div class="sb-donutChart">
    <sb-tooltip show-tooltip="tooltip.isActive"
                show-circle="true"
                x="tooltip.x"
                y="tooltip.y"
                circle-color="tooltip.circleColor"
                ng-mouseover="tooltip.isActive = true"
                ng-mouseleave="tooltip.isActive = false">
        <div class="sb-donutChart__tooltip">
            <div class="sb-donutChart__tooltip sb-donutChart__tooltip__value"
                 style="color: {{tooltip.circleColor}}">
                {{tooltip.value}}%
            </div>
            <div class="sb-donutChart__tooltip sb-donutChart__tooltip__label">
                {{tooltip.label}}
            </div>
        </div>
    </sb-tooltip>
</div>