.sb-newReturningCustomers {
    height: 199px;
}

.newVsReturnClients{
    height: 123px;
}

    .sb-newReturningCustomers--chart {
        margin: 0 $spacing-md;
    }

    .widget__labels {
        padding: 10px 15px 10px;
    }

    .widget__labels__label {
        float: left;
        width: 50%;
        font-size: 10px;

        &:first-child {
            text-align: left;

            .widget__label__value {
                color: #3366cc;
                font-size: 22px;
            }
        }
        &:last-child {
            text-align: right;

            .widget__label__value {
                color: #00aa77;
                font-size: 22px;
            }
        }
    }

        .widget__labels__footer {
            font-size: 13px;
            text-align: center;
        }

        .widget__label__value {
            font-weight: bold;
            font-size: 20px;
        }