<div class="sb-newReturningCustomers sb-newReturningCustomers--single">

    <sb-loading 
     class="sb-loading--widget"
     target="newReturningCustomers">
    </sb-loading>

    <div class="widget__header">
        <div class="widget__title">New vs returning clients</div>
        <!--<div class="widget__filters">

            <div class="widget__filters__filter widget__filters__filter--dropdown">
                <div class="widget__filters__filter--dropdown-toggle"
                 ng-click='showHideAllStoreChartPopover()'
                 ng-class="{'is-active' : showFilterStores}">
                    All stores
                </div>

                <sb-popup
                 ng-show="showFilterStores"
                 popup-title="Select to view"
                 popup-options="filterStores"
                 popup-selected="selectFilterStore"
                 popup-form-name="nvrCustomerForm"
                 class="sb-popup--compare">
                </sb-popup>

            </div>
        </div>-->
    </div>

    <div class="newVsReturnClients">
        <div class="widget__labels cf">
            <div class="widget__labels__label">
                <div class="widget__label__value">
                    {{ nvrData.newCustPercent }}%
                </div>
                <div>New clients</div>
            </div>

            <div class="widget__labels__label">
                <div class="widget__label__value">
                    {{ 100 - nvrData.newCustPercent }}%
                </div>
                <div>Returning clients</div>
            </div>
        </div>

        <sb-sliced-bar-chart chart-height="75"
         chart-colors="chartColors"
         data="nvrData">
        </sb-sliced-bar-chart>

        <!--<div class="widget__labels">
             <div class="widget__labels__footer">
                 {{ storeLabel }} - This week
             </div>
        </div>-->
    </div>


    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>