$overlay-color: rgba(237, 237, 237, 0.8);
.modal {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $overlay-color;
}

    .modal__container {
        @extend %box-shadow-modal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }

        $header-h: 60px;
        $footer-h: 50px;

        .modal__header {
            position: relative;
            padding: 0 $spacing-md;
            height: $header-h;
            line-height: $header-h;
            background-color: #0033aa;
            color: #fff;

        }

        .modal__header__close {
            position: absolute;
            top: 50%;
            right: $spacing-md;
            cursor: pointer;
            color: #fff;
            transform: translateY(-50%);

            .icon {
                color: #fff;
            }
        }

            .modal__header__title {
                position: absolute;
            }

        .modal__content {
            padding: 20px;
        }

            .modal__content__copy {
                padding: 7.5px 0;
                font-size: 12px;

                &:first-of-type {
                    padding-top: 0;
                }

                &:last-of-type {
                    padding-bottom: 0;
                }
            }

            .modal__content__copy ~ .modal__strip {
                margin-top: $spacing-xsm;
                border-top: 1px solid #eee;
            }

            .modal__strip {
                padding: $spacing-md 0;
            }

                .phone {
                    position: relative;
                    float: left;
                    padding-left: $spacing-lg;
                    width: 50%;

                    .icon {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }

                        .phone__contact__number {
                            font-family: $b-font-family-alt;
                        }

                        .phone__contact__label {
                            color: #a1a1a1;
                        }




        .modal__footer {
            padding: 0 $spacing-md;
            height: $footer-h;
            line-height: $footer-h;
            border-top: 1px solid #eee;
            text-align: right;
            text-transform: uppercase;
        }

            .modal__footer__submit {
                cursor: pointer;
                padding: $spacing-xsm $spacing-sm;
                color: #0033aa;

                &:hover {
                    background-color: #F9F9F9;
                }
            }
