<div class="modal"
 ng-show="isActive">
    <div class="modal__container">
        <div class="modal__header"
         ng-if="title">
            <div class="modal__header__title">
                {{ title }}
            </div>
            <a href=""
             ng-click="closeModal()"
             class="modal__header__close">
                <i class="icon icon-close modal__close"></i>
            </a>
        </div>
        <div class="modal__content"
         ng-transclude>
        </div>
        <footer ng-show="showSubmit"
         class="modal__footer">
            <a ng-click="closeModal()"
             class="modal__footer__submit">
                ok
            </a>
        </footer>
    </div>
</div>