$color-line: #E8E8E8;
$color-line-main: #0baadd;

.sb-chartLine {

    path,
    line {

        &:not(.path-area) {
            stroke-width: 1;
            stroke: $color-line;
            fill: none;
        }
    }

    .axis.x {
        path {
            display: none;
        }
    }

    .tick {
        text {
            font-size: 10px;
            fill: #999;
        }
    }

}
