.sb-loading {
    z-index: 3;
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);

    &.is-active {
        display: block;
    }
}

.sb-loading--fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sb-loading--widget {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

    .sb-loading__loader-img {
        position: absolute;
        top: 50%;
        left: 50%;
        background: transparent;
        transform: translate(-50%, -50%);
    }