.sb-signout {
    width: 230px;
}

    .sb-signout__title {}

.buttons {
    margin-top: $spacing-md;
    text-align: right;
}

    .button {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: #F9F9F9;
        }
    }