<div class="sb-signout">
    <div class="sb-signout__title">
        Are you sure you want to sign out?
    </div>
    <div class="buttons">
        <div ng-click="cancel()"
         class="button">
            Cancel
        </div>
        <div ng-click="signout()"
         class="button">
            Sign out
        </div>
    </div>
</div>