.sb-tradingDays{
    height: 305px;
}

.tradingDays_wrap{
    height:231px;
}

.sb-tradingDays__loading{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

$icon-wrapper-line: 0 0 0 1px #0033aa;

.tradingDays-item__icon {
    float: left;
}

.tradingDays-item__content__title{
    position:relative;
    left:4%;
    padding-top: 3px;
    margin-bottom: 5px;
    font-family: $b-font-family;
    font-size: 12px;
    color: #0033aa;
}


.tradingDays-item__content__headingBlock{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 1px;
}

.tradingDays-item__content__dayBlock{
    width: 27px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 2px;
    font-size: 10px;
    color: #ffffff;
    text-align:center;
}

.blockLight{
    background-color: #adc2eb;
}

.blockMedium{
    background-color: #5c85d6;
}

.blockDark{
    background-color: #3366cc;
}

.blockNoData{
    background-color: #cccccc;
}

.tradingDays-item__chartLegend{
    position:relative;
    margin: 5px 5px 0 0;
    top: 0px;
    float: right;
}

.tradingDays-item__content__headingText{
    float:left;
    font-size: 10px;
    font-family: $b-font-family;
    padding: 0 5px 0 5px;
}

.tradingDays-item__group{
    position:relative;
    top: 20px;
    padding: 10px 0 10px 0;
    height: 115px;
}

.tradingDays-item__row{
    margin: 15px 0 0 5px;
}

.salesByDay{
    border-bottom: solid 1px #cccccc;
}

.sb-tradingDays__tooltip{
    z-index: 1000;
}

.sb-tradingDays__tooltip__text{
    font-family: $b-font-family-alt;
    font-size: 12px;
    color: #0033aa;

}