<div class="sb-tradingDays">
    <sb-loading target="tradingDaysRange" class="sb-tradingDaysRange__loading"></sb-loading>

    <div class="widget__header">
        <div class="widget__title">Trading days</div>
        <!--<i class="icon icon-refresh filter__refresh"-->
         <!--ng-click="getData()">-->
        <!--</i>-->
    </div>
    <div class="tradingDays_wrap">
        <sb-tooltip class="sb-tradingDays__tooltip"
                    show-tooltip="tooltip.valueShow"
                    show-circle="true"
                    x="tooltip.x"
                    y="tooltip.y"
                    circle-color="tooltip.circleColor"
                    ng-mouseover="tooltip.valueShow=true"
                    ng-mouseleave="tooltip.valueShow=false">
            <div class="sb-tradingDays__tooltip__text">
                {{ tooltip.value | currency:'R ':0 }}
            </div>
        </sb-tooltip>
        <sb-tooltip class="sb-tradingDays__tooltip"
                    show-tooltip="tooltip.volumeShow"
                    show-circle="true"
                    x="tooltip.x"
                    y="tooltip.y"
                    circle-color="tooltip.circleColor"
                    ng-mouseover="tooltip.volumeShow=true"
                    ng-mouseleave="tooltip.volumeShow=false">
            <div class="sb-tradingDays__tooltip__text">
                {{ tooltip.volume | currency:'':0}}
            </div>
        </sb-tooltip>
        <div class="tradingDays-item__chartLegend">
            <span class="tradingDays-item__row">
                <div class="tradingDays-item__content__headingText">Highest</div>
                <div class="tradingDays-item__content__headingBlock blockDark"></div>
                <div class="tradingDays-item__content__headingBlock blockMedium"></div>
                <div class="tradingDays-item__content__headingBlock blockLight"></div>
                <div class="tradingDays-item__content__headingText">Lowest</div>
            </span>
        </div>
        <div class="tradingDays-item__group salesByDay">
            <div class="tradingDays-item__row">
                <img class="tradingDays-item__icon"
                     ng-src='assets/images/icn_graph_21x21.png'/>
                <p class="tradingDays-item__content__title">Sales value</p>
            </div>
            <div class="tradingDays-item__row">
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.monday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.monday)"
                     ng-mouseleave="hideTooltip()">
                    M</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.tuesday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.tuesday)"
                     ng-mouseleave="hideTooltip()">
                    T</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.wednesday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.wednesday)"
                     ng-mouseleave="hideTooltip()">
                    W</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.thursday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.thursday)"
                     ng-mouseleave="hideTooltip()">
                    T</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.friday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.friday)"
                     ng-mouseleave="hideTooltip()">
                    F</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.saturday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.saturday)"
                     ng-mouseleave="hideTooltip()">
                    S</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.sunday.valueColour"
                     ng-mouseover="showValueTooltip($event, tradingDays.sunday)"
                     ng-mouseleave="hideTooltip()">
                    S</div>
            </div>
        </div>
        <div class="tradingDays-item__group valueByDay">
            <div class="tradingDays-item__row">
                <img class="tradingDays-item__icon"
                     ng-src='assets/images/icn_cart_21x21.png'/>
                <p class="tradingDays-item__content__title">Sales volume</p>
            </div>
            <div class="tradingDays-item__row">
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.monday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.monday)"
                     ng-mouseleave="hideTooltip()">
                    M</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.tuesday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.tuesday)"
                     ng-mouseleave="hideTooltip()">
                    T</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.wednesday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.wednesday)"
                     ng-mouseleave="hideTooltip()">
                    W</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.thursday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.thursday)"
                     ng-mouseleave="hideTooltip()">
                    T</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.friday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.friday)"
                     ng-mouseleave="hideTooltip()">
                    F</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.saturday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.saturday)"
                     ng-mouseleave="hideTooltip()">
                    S</div>
                <div class="tradingDays-item__content__dayBlock"
                     ng-class="tradingDays.sunday.volumeColour"
                     ng-mouseover="showVolumeTooltip($event, tradingDays.sunday)"
                     ng-mouseleave="hideTooltip()">
                    S</div>
            </div>
        </div>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>