<div class="widget--spotlight">
    <div class="widget__header">
        <div class="widget__title">
            Sales
        </div>
    </div>
    <div class="spotlight">
        <sb-spotlight-list>
        </sb-spotlight-list>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>
