.sb-halfPie {
  position: relative;
  margin-bottom: $spacing-md;
  text-align: left;

  @include bp(xlg) {
    margin: 0;
    margin-right: $spacing-md;
  }

  .blockStyle{
    stroke: white;
    stroke-width: 1;
  }

  .blockLine{
    stroke: #999999;
    stroke-width: 1;
    fill: none;
  }

  &__tooltip{
    font-family: $b-font-family;

    &__value{
      font-size: 12px;
      color: #0033aa;
      font-weight: bold;
    }

    &__timeRange{
      font-size: 10px;
      color: #999999;
    }
  }
}