<div class="sb-halfPie">
    <sb-tooltip show-tooltip="tooltip.isActive"
                show-circle="true"
                x="tooltip.x"
                y="tooltip.y"
                circle-color="tooltip.circleColor"
                ng-mouseover="tooltip.isActive = true"
                ng-mouseleave="tooltip.isActive = false">
        <div class="sb-halfPie__tooltip">
            <div class="sb-halfPie__tooltip sb-halfPie__tooltip__value">
                <div ng-if="tooltip.applyFilter">{{tooltip.value | currency: 'R ':0}}</div>
                <div ng-if="tooltip.applyFilter === false">{{tooltip.value}}</div>
            </div>
            <div class="sb-halfPie__tooltip sb-halfPie__tooltip__timeRange">
                {{tooltip.timeRange[0]}}-{{tooltip.timeRange[1]}}
            </div>
        </div>
    </sb-tooltip>
</div>