$title-h: 17px;
$icon-wrapper-line: 0 0 0 1px #0033aa;
$content-wrapper-w: 185px;
$content-wrapper-h: 35px;
$content-value-w: 220px;

.spotlight-item {
    position: relative;
    float: left;
    padding-left: $spacing-sm;
    width: 33.333%;

    &:last-child {
        box-shadow: none;
    }

    &__icon{
        float: left;
    }

    &__content{
        padding: 0 $spacing-sm 0 55px;

        &__title{
            margin-top: $spacing-xxsm;
            min-height: $title-h * 2;
            color: #0033aa;

            @include bp(xxlg) {
                min-height: $title-h;
            }
        }

        &__wrapper{
            border-bottom: 1px solid #cccccc;
            position: relative;
            width: $content-wrapper-w;
            height: $content-wrapper-h;

            &__column{
                height: $content-wrapper-h;
                float: left;

                &__change{
                    font-size: 22px;
                    color: #A90A50;
                    padding-left: 5px;
                    display: table;

                    &--item{
                        float: left;
                    }

                    &.increase {
                        color: #00aa77;
                    }
                }

                &__timestamp{
                    font-size: 10px;
                    color: #999999;
                    text-align: left;
                    position: absolute;
                    bottom: 0px;
                    padding-bottom: 3px;
                }
            }
        }

        &__value{
            position: relative;
            width: $content-value-w;
            font-family: $b-font-family;
            color: #999999;
            display: table;

            &--item{
                font-size: 12px;
                float: left;
                width: ($content-value-w / 2) - 1;
            }

            &--smallerItem{
                font-size: 10px;
                float: left;
                width: ($content-value-w / 2) - 1;
            }
        }
    }
}

.arrow {
    position: absolute;
    top: 45%;
    color: inherit;
    font-size: 10px;
    transform: translateY(-50%);
    padding-left: 3px;
}

.arrowWidth{
    width: 20px;
}

.help {
    padding-right: 5px;
    color: inherit;
    font-size: 10px;
}