<ul class="spotlight-list cf">
    <li class="spotlight-item"
        ng-repeat="item in spotlightList"
        item="item">
        <img class="spotlight-item__icon"
             ng-src='assets/images/{{ item.icon }}'/>
        <div class="spotlight-item__content">
            <div class="spotlight-item__content__title">
                {{ item.title }}
            </div>
            <div class="spotlight-item__content__wrapper">
                <div class="spotlight-item__content__wrapper__column">
                    <div class="spotlight-item__content__wrapper__column__change"
                         ng-class="{ 'increase': item.isIncrease }">
                        <div class="spotlight-item__content__wrapper__column__change--item">
                            {{ item.percentage | number: 0 }}%
                        </div>
                        <div class="spotlight-item__content__wrapper__column__change--item">
                            <div class="arrowWidth">
                                <i class="arrow"
                                    ng-class="item.isIncrease ? 'icon-arrow-up': 'icon-arrow-down'">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spotlight-item__content__wrapper__column">
                    <div class="spotlight-item__content__wrapper__column__timestamp">
                        This week
                    </div>
                </div>
            </div>
            <div class="spotlight-item__content__value">
                <div class="spotlight-item__content__value--item">
                    {{ item.value | filterCurrency: item.currency : (item.currency ? 2 : 0)}}
                </div>
                <div class="spotlight-item__content__value--item">
                    {{ item.compareValue | filterCurrency: item.currency : (item.currency ? 2 : 0)}}
                </div>
            </div>
            <div class="spotlight-item__content__value">
                <div class="spotlight-item__content__value--smallerItem">
                    This week
                </div>
                <div class="spotlight-item__content__value--smallerItem">
                    Last week
                </div>
            </div>
        </div>
    </li>
</ul>