.ta-daterangepicker .selectbox .caret {
    top: -2px;
    position: relative;
}

.ta-daterangepicker .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.ta-daterangepicker .selectbox {
    background: #fff;
    color: #333;
    padding: 8px;
    line-height: 18px;
    border-radius: 4px;
    border-width: 0 1px 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    display: inline-block;
}

// ng-show was causing the datepicker to show, then hide, then show again on 2nd fliter item open click in IE10
// hiding by default fixes this
.ta-daterangepicker {
    @extend %box-shadow-modal;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -1px;
    width: 510px;
    background-color: #fff;
    z-index: 2;
    line-height: 1;

    &.is-active {
        display: block;
    }
}

.ta-daterangepicker .calendar {
    max-width: 270px;
    margin: 4px 0 4px 4px;
}

.ta-daterangepicker .calendarRow td{
}

.ta-daterangepicker .calendar, .ta-daterangepicker .ranges {
    float: left;
}

.ta-daterangepicker .ranges {
    font-size: 11px;
    margin: 4px;
    text-align: left;
    float: left;
    padding-top: 10px;
}

.ta-daterangepicker .ranges ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ta-daterangepicker .ranges li {
    font-size: 13px;
    color: #333333;
    padding: 3px 12px;
    margin-bottom: 8px;
    cursor: pointer;
    float: left;
    border-bottom: 1px solid #f6f6f6;
}

.ta-daterangepicker .ranges li.active, .ta-daterangepicker .ranges li:hover {
    border-bottom: 1px solid #00aadd;
    color: #333333;
}

.ta-daterangepicker table {
    width: 100%;
    margin: 0;
}

.ta-daterangepicker .calendar-table {
    padding-left: 10px;
    padding-right: 10px;
}

.ta-daterangepicker .calendar td, .ta-daterangepicker .calendar th {
    position: relative;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    width: 30px;
    height: 30px;
}

.ta-daterangepicker td.in-range {
    background: #ccf3ff;
    border-radius: 30px 30px 30px 30px;

}

.ta-daterangepicker td.active, .ta-daterangepicker td.active:hover {
    background-color: #00aadd;
    border-color: #3071a9;
    color: #fff;
}

.ta-daterangepicker td.start-date {
    border-radius: 30px 30px 30px 30px;
}

.ta-daterangepicker td.end-date {
    border-radius: 30px 30px 30px 30px;
}

.ta-daterangepicker td.off, .ta-daterangepicker td.off.end-date, .ta-daterangepicker td.off.in-range, .ta-daterangepicker td.off.start-date {
    color: #999;
    background: #fff;
}

.ta-daterangepicker .input {
    position: relative;
}

.ta-daterangepicker .input-mini {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 0 5px;
    padding: 0 6px 0 28px;
    width: 100%;
}

.ta-daterangepicker .input i {
    position: absolute;
    left: 8px;
    top: 8px;
}

.ta-daterangepicker .input a {
    position: absolute;
    right: 30px;
    top: 0px;
    color: #cccccc;
    text-decoration: none;
}

.ta-daterangepicker td.available:hover, .ta-daterangepicker th.available:hover {
    background: #eee;
    border-radius: 30px 30px 30px 30px;
}

.ta-daterangepicker td.unavailable:hover, .ta-daterangepicker th.unavailable:hover {
    background: white;
    cursor: default;
}

.ta-daterangepicker td a, .ta-daterangepicker th a {

    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1;

        &.prev {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

.ta-daterangepicker .rangeLabel {
    line-height: 40px;
    background: #3366cc;
    color: #f6f6f6;
}

.ta-daterangepicker label {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 16px;
}

.ta-daterangepicker .buttons td{
    text-align: right;
    color: #00aadd;
    border-top: 1px solid #f6f6f6;
}

.ta-daterangepicker .buttons button{
    background: white;
    color: #00aadd;
    border: none;
    outline: none;
    margin: 5px 0;
    padding: 5px 5px 5px 5px;
}

.ta-daterangepicker .buttons button[disabled]:hover{
    background: white;
}

.ta-daterangepicker .buttons button:hover{
    background: #f6f6f6;
    border-radius: 5px 5px 5px 5px;
}

.calendar-table .list-group .list-group-item{
    width: 50%;
    float: left;
    border: 1px solid #f6f6f6;
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    line-height: 2;
}

.calendar-table .list-group .list-group-item:hover{

    background-color: #f6f6f6;
}

.calendar-table .list-group .list-group-item span{
    color: #333333;
    text-decoration: none;
}

.calendar-table .monthView div{
    line-height: 2;
    color: #333333;
    text-decoration: none;
}

.calendar-table .monthView div:hover{
    background-color: #f6f6f6;
    border-radius: 10px 10px 10px 10px;
}

.disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}