<div ng-show="visible" ng-click="handlePickerClick($event)" class="ta-daterangepicker" ng-class="{ 'is-active' : visible }">
    <table>
        <tr>
            <td class="rangeLabel"><label>Select your date range</label></td>
        </tr>
        <tr class="ranges">
            <td>
                <ul>
                    <li bindonce ng-repeat="item in ranges" ng-class="{active:item.active}"><div ng-click="setRange(item,$event,ranges)">{{item.label}}</div></li>
                </ul>
            </td>
        </tr>
        <tr class="calendarRow">
            <td>
                <div bindonce ng-repeat="month in months" class="calendar" ng-show="showCalendars">
                    <div ng-show="showLeftCalendar">
                        <day-view ng-if="currentViewLeft === 'day' && $index === 0"></day-view>
                        <month-view ng-if="currentViewLeft === 'month' && $index === 0"></month-view>
                        <year-view ng-if="currentViewLeft === 'year' && $index === 0"></year-view>
                    </div>
                    <div ng-show="showRightCalendar">
                        <day-view ng-if="currentViewRight === 'day' && $index === 1"></day-view>
                        <month-view ng-if="currentViewRight === 'month' && $index === 1"></month-view>
                        <year-view ng-if="currentViewRight === 'year' && $index === 1"></year-view>
                    </div>
                </div>
            </td>
        </tr>
    <tr class="buttons">
        <td>
            <div>
                <button ng-click="cancel()">Cancel</button>
                <button ng-click="applySelection($event, ranges)" ng-disabled="!showCalendars || !currentSelection || !currentSelection.start || !currentSelection.end">Update</button>
            </div>
        </td>
    </tr>
    </table>
</div>