<div class="calendar-table">
    <table>
        <thead>
        <tr>
            <th class="{{month.leftArrowClass}}"><a ng-click="month.leftArrowClass !== 'unavailable' && move(month.date, -1, $event, $first)"><i class="icon icon-arrow-right prev"></i> </a></th>
            <th colspan="5" class="monthView"><div ng-click="switchView($index)" class="month-name btn btn-link" bo-text="month.name">{{ month.name }}</div></th>
            <th class="{{month.rightArrowClass}}"> <a ng-click="month.rightArrowClass !== 'unavailable' && move(month.date, +1, $event, $first)"><i class="icon icon-arrow-right"></i> </a> </th>
        </tr>
        <tr>
            <th bindonce ng-repeat="day in weekDays" class="weekday" bo-text="day">{{ day }}</th>
        </tr>
        </thead>
        <tbody>
        <tr bindonce ng-repeat="week in month.weeks">

            <td ng-repeat="day in week" ng-class="getClassName(day)">
                <!--  -->
                <div ng-if="day.number" bo-text="day.number" ng-click="select(day, $event)">{{ day.number }}</div>
            </td>
        </tr>
        </tbody>
    </table>
</div>