<div class="filter">
    <p class="filter__title"
     ng-show="model.description">
        {{ filterTitle }}
    </p>
    <div class="filter__dropdown"
     ng-class="{ 'is-active': model.description }">
        {{ model.description ? model.description : filterTitle }}
    </div>
</div>
