<div class="calendar-table">
    <table>
        <thead>
        <tr>
            <th class="unavailable"><a><i class="icon icon-arrow-right prev"></i> </a></th>
            <th class="monthView"><div ng-click="switchView($index)" class="month-name btn btn-link" bo-text="month.name">{{ month.name }}</div></th>
            <th class="unavailable"> <a><i class="icon icon-arrow-right"></i> </a> </th>
        </tr>
    </table>

    <div class="list-group">
        <div ng-repeat="month in allMonths" class="list-group-item">
            <span class="btn btn-link {{month.state}}" ng-click="month.state !== 'disabled' && selectMonth(month.id, $parent.$index)">{{ month.name }}</span>
        </div>
    </div>

</div>