<div class="calendar-table">
    <table>
        <thead>
        <tr>
            <th class="available"><a ng-click="moveYearRange($index, -1)"><i class="icon icon-arrow-right prev"></i> </a></th>
            <th colspan="5" class="monthView"><div ng-click="switchView($index)" class="month-name btn btn-link" bo-text="month.name">{{ month.name }}</div></th>
            <th class="available"> <a ng-click="moveYearRange($index, +1)"><i class="icon icon-arrow-right"></i> </a> </th>
        </tr>
    </table>

    <div class="list-group" ng-if="$index === 0">
        <div ng-repeat="year in yearRangeLeft" class="list-group-item">
            <span class="btn btn-link {{year.state}}" ng-click="year.state !== 'disabled' && selectYear(year.desc, $parent.$index)">{{year.desc}}</span>
        </div>
    </div>
    <div class="list-group" ng-if="$index === 1">
        <div ng-repeat="year in yearRangeRight" class="list-group-item">
            <span class="btn btn-link {{year.state}}" ng-click="year.state !== 'disabled' && selectYear(year.desc, $parent.$index)">{{year.desc}}</span>
        </div>
    </div>
</div>