.filter {
    position: relative;
    display: inline-block;
    vertical-align: sub;
    margin: 15px 10px;
    width: 140px;
    line-height: 1;

    &:nth-child(2) {
        margin-right: 100px;
    }
}
    .filter__title {
        font-size: 10px;
    }

    .filter__dropdown {
        position: relative;
        margin-top: 2px;
        padding-bottom: 3px;
        border-bottom: 1px solid #c2c2c2;
        font-size: 13px;
        color: #d1d1d1;
        cursor: pointer;

        &.is-active {
            color: #373737;

            &:after {
                border-top: $triangle-h solid #373737;;
            }
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 5px;
            border-left: $triangle-w solid transparent;
            border-right: $triangle-w solid transparent;
            border-top: $triangle-h solid #c3c3c3;
        }
    }

        .filter__dropdown__title {
            font-size: 13px;
            color: $b-color-text;
        }

        $border-w: 4px;
        $border-h: 5px;
        .filter__dropdown__down-arrow {
            position: absolute;
            bottom: 6px;
            right: 0;
            border-left: $border-w solid transparent;
            border-right: $border-w solid transparent;
            border-top: $border-h solid #c3c3c3;
        }

    .filter__refresh {
        position: absolute;
        top: 50%;
        right: 20px;
        cursor: pointer;
        transform: translateY(-50%);
    }
