<div class="filter">
    <p class="filter__title"
     ng-show="item.activeId !== null">
        {{ item.defaultLabel }}
    </p>
    <div class="filter__dropdown"
     ng-click="open(item.id)"
     ng-class="{ 'is-active' : item.activeId !== null }">
        {{ item.activeId !== null ? item.options[item.activeId].label : item.defaultLabel }}
    </div>

    <sb-popup
     ng-show="item.popupOpen"
     popup-options="item.options"
     popup-selected="selectPopup"
     popup-form-name="{{ item.name }}">
    </sb-popup>
</div>