<div class="sb-salesByStore">

    <sb-loading
     class="sb-loading--widget"
     target="salesByStore">
    </sb-loading>

    <div class="widget__header">
        <div class="widget__title">
            Average sales per store
        </div>

        <div class="widget__filters">
            <div class="widget__filters__filter">
                <div class="input-container">
                    <input type="radio"
                     ng-model="filterType"
                     ng-value="false"
                     ng-change="refreshFilters()"
                     id="filter-value">
                    <label class="label"
                     for="filter-value">
                    </label>
                </div>
                <label class="widget__filters__filter-label"
                 ng-class="{ 'is-active': !filterType }"
                 for="filter-value">
                    Value
                </label>
            </div>

            <div class="widget__filters__filter">
                <div class="input-container">
                    <input type="radio"
                     ng-model="filterType"
                     ng-value="true"
                     ng-change="refreshFilters()"
                     id="filter-volume">

                    <label class="label label--filter"
                     for="filter-volume">
                    </label>
                </div>

                <label class="widget__filters__filter-label"
                 ng-class="{ 'is-active': filterType }"
                 for="filter-volume">
                    Volume
                </label>
            </div>

            <div class="widget__filters__filter widget__filters__filter--dropdown">
                <button class="widget__filters__filter--dropdown-toggle"
                 ng-disabled="noneSelected"
                 ng-click='showHideAllStoreChartPopover()'
                 ng-class="{'is-active' : showFilterStores}">
                    All stores
                </button>

                <sb-popup ng-show="showFilterStores"
                 popup-title="Select to compare"
                 popup-options="filterStores"
                 popup-selected="selectFilterStore"
                 popup-form-name="salesByStore"
                 multiselect
                 popup-done-callback="showHideAllStoreChartPopover"
                 popup-done-disable="noneSelected"
                 class="sb-popup--compare">
                </sb-popup>
            </div>
        </div>
    </div>

    <div ng-if="isData">
        <div class="widget__legends">
            <div class='widget__legends-group'>
                <span class='widget__legend__title'>
                    {{ currentDateFilter }}:
                </span>

                <div class="widget__legend">
                    <span class='widget__legend-color'
                     ng-style="{ 'background-color': chartColors.barPalette[0] }">
                    </span>
                    <span class='widget__legend-name'>
                        {{ !!filterType ? 'Volume' : 'Value' }}
                    </span>
                </div>

                <div class="widget__legend">
                    <span class='widget__legend-color'
                     ng-style="{ 'background-color': chartColors.linePalette[0] }">
                    </span>
                    <span class='widget__legend-name'>Average</span>
                </div>
            </div>

            <div class='widget__legends-group'
             ng-if="hasCompare">
                <span class='widget__legend__title'>
                    {{ compareDateFilter }}:
                </span>

                <div class="widget__legend">
                    <span class='widget__legend-color'
                     ng-style="{ 'background-color': chartColors.barPalette[1] }">
                    </span>
                    <span class='widget__legend-name'>
                        {{ !!filterType ? 'Volume' : 'Value' }}
                    </span>
                </div>

                <div class="widget__legend">
                    <span class='widget__legend-color'
                     ng-style="{ 'background-color': chartColors.linePalette[1] }">
                    </span>
                    <span class='widget__legend-name'>Average</span>
                </div>
            </div>
        </div>

        <sb-chart-bar
         class="sb-salesByStore__chart"
         chart-format="formatAmount"
         chart-height="204"
         chart-data="chartData"
         chart-colors="chartColors">
        </sb-chart-bar>
    </div>

    <div class="widget__error"
     ng-if="!isData">
        No data available
    </div>

    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i> What is this?
        </div>
    </div>
</div>
