<div class="sb-filterBar widget">
    <div class="widget__header widget__header--spotlight">
        <div class="widget__title widget__title--spotlight">
            Filters
        </div>
    </div>

    <div class="widget__content-spotlight">
        <ta-date-range-picker
         ng-model="sbFilterBarCtrl.filterDateRange"
         filter-open-callback="sbFilterBarCtrl.setActiveDatepicker"
         get-default-ranges="sbFilterBarCtrl.getDefaultRanges()"
         filter-title="sbFilterBarCtrl.filterByTitle"
         datepicker-id="0"
         visible="sbFilterBarCtrl.datePickerVisible['0']">
        </ta-date-range-picker>

        <ta-date-range-picker
         ng-model="sbFilterBarCtrl.compareDateRange"
         filter-open-callback="sbFilterBarCtrl.setActiveDatepicker"
         get-default-ranges="sbFilterBarCtrl.getCompareRanges()"
         filter-title="sbFilterBarCtrl.compareToTitle"
         datepicker-id="1"
         visible="sbFilterBarCtrl.datePickerVisible['1']">
        </ta-date-range-picker>

        <sb-filter
         ng-repeat="filter in sbFilterBarCtrl.filters"
         filter-item="filter"
         filter-open-callback="sbFilterBarCtrl.setActive"
         ng-hide="true">
        </sb-filter>

        <i class="icon icon-refresh filter__refresh"
         ng-click="sbFilterBarCtrl.refresh()">
        </i>
    </div>
</div>
