.sb-chartPie {
    position: relative;
    text-align: left;
    overflow: hidden;

    .slice-visible {
        stroke: white;
        stroke-width: 1;

        path {
            cursor: pointer;
        }
    }

    .slice-inner {
        opacity: 0.8;
    }
}

.chart-details {
    max-width: 230px;
    font-size: 10px;
}

    .chart-detail__title {
        margin-bottom: 5px;
        font-size: 12px;
    }