.sb-customerSpendRange {

}

    .sb-customerSpendRange__charts-wrap {
        position: relative;
        margin: 0 20px;
        padding: $spacing-lg 0 $spacing-sm;
        box-shadow: inset 0 -1px 0 $b-color-gray;
    }

        $ring-w: 36px; // referenced in JS
        $ringOuter-w: 24px; // referenced in JS
        $ringInner-w: 18px; // referenced in JS
        $ringLineDot-s: 6px;
        $chartSpacing: 10px; // referenced in JS
        $offset: 3px; // extra spacing for not being centered
        .sb-customerSpendRange__overview-wrap {
            z-index: 1;
            position: absolute;
            top: 25%;
            margin-top: -10px;
            width: calc(50% + #{$chartSpacing} + #{$ring-w / 2});
            transform: translateY(-25%);

            @include bp(xlg) {
                top: 50%;
                width: calc(25% + #{$chartSpacing} + #{$ring-w / 2});
                transform: translateY(-50%);
            }

            &--compare {
                width: calc(50% + #{$chartSpacing} + #{$ringOuter-w / 2});

                @include bp(xlg) {
                    width: calc(25% + #{$chartSpacing} + #{$ringOuter-w / 2});
                }
            }
        }

            .sb-customerSpendRange__overview {
                position: relative;
                margin: 10px 0;
                line-height: 1;
                padding: 5px 0;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                &:before {
                    left: 0;
                    height: 1px;
                    background-color: #666;
                }

                &:after {
                    left: calc(100% - #{$ringLineDot-s / 2});
                    bottom: -2px;
                    width: $ringLineDot-s;
                    height: $ringLineDot-s;
                    background-color: #666;
                    border-radius: 50%;
                }
            }

            .sb-customerSpendRange__overview--previous {

                &:before {
                    right: -($ringOuter-w + $ringInner-w) / 2 - $offset;
                }

                &:after {
                    left: calc(100% + #{($ringOuter-w + $ringInner-w - $ringLineDot-s) / 2} + #{$offset});
                }
            }

        .sb-customerSpendRange__charts__chart {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }

    .sb-customerSpendRange__slider {
        &__item {
            &.is-active {
                .sb-customerSpendRange__slider__item__copy {
                    text-decoration: underline;
                }
            }

            $placholder-s: 85px;
            &__placeholder {
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width:  $placholder-s;
                height: $placholder-s;
            }

            &__details {
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - #{$placholder-s + 10px});
                white-space: normal;
                font-size: 10px;
            }
        }
    }

$spacing-copy: 10px;
$spacing-em: $spacing-copy * 2;

.chart__details {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-align: left;
}

    .chart__details-copy {
        margin-bottom: $spacing-copy - 3px;
        font-size: 13px;
        color: $b-color-text;
    }

    .chart__details-emphasis {
        display: block;
        font-family: $b-font-family-alt;
        font-size: 20px;
        color: $b-color;

        &:first-of-type {
            margin-bottom: $spacing-em - 3px;
        }
    }

    .chart__details-filter-text {
        font-size: 11px;
        color: $b-color-text;
    }

$sub-header-h: 20px;
.widget__sub-header {
    position: relative;
    padding-left: $spacing-lg;
    line-height: $sub-header-h;
    font-size: 12px;
    color: $b-color;
}

    .widget__sub-header__icon-wrap {
        position: absolute;
        left: 0;
        width: $sub-header-h;
        height: $sub-header-h;
        border-radius: 50%;
        box-shadow: 0 0 0 1px $b-color;
    }

        .widget__sub-header__icon-wrap__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 9px;
            transform: translate(-50%, -50%);
        }

.widget__sub-sub-header {
    margin-top: 5px;
    padding-left: $spacing-lg;
    font-size: 10px;
}

.legend-list {
    margin-top: 10px;
    padding-left: $spacing-lg;
}

.legend-list--detail {
    margin-top: 5px;
}

    .legend-list__item {
        display: block;
        position: relative;
        margin-top: $spacing-xsm;
        padding-left: 20px;
        line-height: 1;
        font-size: 12px;
        cursor: pointer;

        &.is-active {
            text-decoration: underline;
        }

        &:first-child {
            margin-top: 0;
        }
    }

    .legend-list__item--detail {
        padding-left: 0;
        cursor: inherit;
    }

        .legend-list__item--detail__title {
            line-height: 1.5;
            font-size: 10px;
        }

        .legend-list__item__marker {
            position: absolute;
            top: 50%;
            left: 0;
            width: 12px;
            height: 12px;
            background-color: #F00;
            border-radius: 50%;
            transform: translateY(-50%);
        }

.legend-list-error {
    margin-top: $spacing-xsm;
    padding-left: $spacing-lg;
}
