<div class="sb-customerSpendRange">

    <sb-widget
     widget-title="Customer spend range"
     widget-loader-target="customerSpendRange">

        <widget-body>
            <div class="sb-customerSpendRange__charts-wrap cf"
             ng-if="(customerSpendData && customerSpendData[0].averageValue) || (customerSpendDataCompare && customerSpendDataCompare[0].averageValue)">
                <div class="grid">
                    <div class="grid-u-1-2
                                grid-u-xlg-1-4
                                chart__details">
                        <h3 class="widget__sub-header">
                            <span class="widget__sub-header__icon-wrap">
                                <i class="icon
                                          icon-basket
                                          widget__sub-header__icon-wrap__icon"></i>
                            </span>
                            Average spend range
                        </h3>
                        <div class="sb-customerSpendRange__overview-wrap"
                         ng-class="{ 'sb-customerSpendRange__overview-wrap--compare' : customerSpendDataCompare }">
                            <div class="sb-customerSpendRange__overview sb-customerSpendRange__overview--current"
                             ng-if="customerSpendData[0].averageValue">
                                <em class="widget__emphasis">
                                    {{ customerSpendData[0].averageValue | filterCurrency:'R'}}
                                </em>
                                {{ activeDates.main }}
                            </div>
                            <div class="sb-customerSpendRange__overview sb-customerSpendRange__overview--previous"
                             ng-if="customerSpendDataCompare[0].averageValue">
                                <em class="widget__emphasis">
                                    {{ customerSpendDataCompare[0].averageValue | filterCurrency:'R'}}
                                </em>
                                {{ activeDates.compare }}
                            </div>
                        </div>
                    </div>

                    <div class="grid-u-1-2
                                grid-u-xlg-1-4
                                sb-customerSpendRange__charts__chart">
                        <sb-chart-pie
                         chart-height="230"
                         chart-data="customerSpendData"
                         chart-data-compare="customerSpendDataCompare"
                         chart-colors="pieColors"
                         chart-active-index="activeLegendIndex"
                         chart-slice-selected-callback="setActiveLegendCallback">
                        </sb-chart-pie>

                        <div class="chart-details">
                            <div class="chart-details__title is-uppercase">
                                {{ activeMerchant.name }}
                            </div>
                            {{ activeMerchant.id }}
                        </div>
                    </div>

                    <!-- legend -->
                    <div class="grid-u-1
                                grid-u-xlg-1-2">
                        <div class="grid-u-1-2">
                            <h3 class="widget__sub-header">
                                <span class="widget__sub-header__icon-wrap">
                                    <i class="icon
                                              icon-label
                                              widget__sub-header__icon-wrap__icon"></i>
                                </span>
                                Spend breakdown
                            </h3>
                            <h4 class="widget__sub-sub-header">
                                Select range for more detailed view
                            </h4>

                            <ul class="legend-list">
                                <li class="legend-list__item"
                                 ng-class="{ 'is-active': customerSpendData[activeLegendIndex].rangeFrom === legend.rangeFrom }"
                                 ng-repeat="legend in customerSpendData"
                                 ng-hide="!legend.volume && !customerSpendDataCompare[$index].volume"
                                 ng-click="setActiveLegendCallback($index)">
                                    <div class="legend-list__item__marker"
                                     ng-style="{ 'backgroundColor': pieColors[$index] }">
                                    </div>
                                    <div>
                                        <span>{{ legend.rangeFrom || 0 | filterCurrency:'R'}}</span> -
                                        <span ng-if="legend.rangeTo !== undefined">{{ legend.rangeTo | filterCurrency:'R'}}</span>
                                        <span ng-if="legend.rangeTo === undefined">and above</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- legend detail -->

                        <div class="grid-u-1-2">
                            <h3 class="widget__sub-header">
                                <span class="widget__sub-header__icon-wrap">
                                    <i class="icon
                                              icon-label
                                              widget__sub-header__icon-wrap__icon"></i>
                                </span>
                                <span>
                                    <span>{{ customerSpendData[activeLegendIndex].rangeFrom || 0 | filterCurrency:'R'}}</span> -
                                    <span ng-if="customerSpendData[activeLegendIndex].rangeTo !== undefined">{{ customerSpendData[activeLegendIndex].rangeTo | filterCurrency:'R'}}</span>
                                    <span ng-if="customerSpendData[activeLegendIndex].rangeTo === undefined">and above</span>
                                </span>
                            </h3>
                            <h4 class="widget__sub-sub-header is-transparent">
                                Select range for more detailed view
                            </h4>

                            <div ng-class="{ 'grid-u-1-2' : customerSpendDataCompare }">

                                <ul class="legend-list legend-list--detail"
                                 ng-if="customerSpendData[activeLegendIndex].volume">
                                    <li class="legend-list__item legend-list__item--detail">
                                        <em class="widget__emphasis">{{ customerSpendData[activeLegendIndex].percentageValue }}</em> {{ activeDates.main }}
                                    </li>
                                    <li class="legend-list__item legend-list__item--detail">
                                        {{ customerSpendData[activeLegendIndex].value | filterCurrency:'R' }}

                                        <div class="legend-list__item--detail__title">
                                            Total Value
                                        </div>
                                    </li>
                                    <li class="legend-list__item legend-list__item--detail">
                                        {{ customerSpendData[activeLegendIndex].volume }}

                                        <div class="legend-list__item--detail__title">
                                            Transactions
                                        </div>
                                    </li>
                                </ul>

                                <div class="legend-list-error"
                                 ng-if="!customerSpendData[activeLegendIndex].volume">
                                    No data
                                </div>
                            </div>

                            <div class="grid-u-1-2"
                             ng-if="customerSpendDataCompare">

                                <ul class="legend-list legend-list--detail"
                                 ng-if="customerSpendDataCompare[activeLegendIndex].volume">
                                    <li class="legend-list__item legend-list__item--detail">
                                        <em class="widget__emphasis">{{ customerSpendDataCompare[activeLegendIndex].percentageValue }}</em> {{ activeDates.compare }}
                                    </li>
                                    <li class="legend-list__item legend-list__item--detail">
                                        {{ customerSpendDataCompare[activeLegendIndex].value | filterCurrency:'R' }}

                                        <div class="legend-list__item--detail__title">
                                            Total Value
                                        </div>
                                    </li>
                                    <li class="legend-list__item legend-list__item--detail">
                                        {{ customerSpendDataCompare[activeLegendIndex].volume }}

                                        <div class="legend-list__item--detail__title">
                                            Transactions
                                        </div>
                                    </li>
                                </ul>

                                <div class="legend-list-error"
                                 ng-if="!customerSpendDataCompare[activeLegendIndex].volume">
                                    No data
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widget__error"
             ng-if="!((customerSpendData && customerSpendData[0].averageValue) || (customerSpendDataCompare && customerSpendDataCompare[0].averageValue))">
                No data available
            </div>

            <sb-slider class="sb-customerSpendRange__slider"
                       slider-list="merchantList"
                       slider-active="activeMerchant"
                       slider-active-index="activeMerchantIndex"
                       slider-animation-duration="1000"
                       slider-items-per-slide="4">
                <div class="sb-customerSpendRange__slider__item"
                     ng-click="setActiveMerchantCallback($parent.item)"
                     ng-class="{ 'is-active': activeMerchant.id === $parent.item.id }">
                    <img class="sb-customerSpendRange__slider__item__placeholder"
                         ng-src="assets/images/donut.jpg">

                    <div class="sb-customerSpendRange__slider__item__details">
                        <p class="sb-customerSpendRange__slider__item__copy is-uppercase">
                            {{ $parent.item.name }}
                        </p>
                        <p class="sb-customerSpendRange__slider__item__copy">
                            {{ $parent.item.id }}
                        </p>
                    </div>
                </div>
            </sb-slider>
        </widget-body>
    </sb-widget>
</div>
