<div class="sb-spendingTrends">

    <sb-loading target="spendingTrends"
                class="sb-spendingTrends__loading">
    </sb-loading>

    <div class="widget__header">
        <div class="widget__title">
            Spending trends
        </div>

        <div class="widget__filters">
            <div class="widget__filters__filter widget__filters__filter--dropdown">
                <button class="widget__filters__filter--dropdown-toggle"
                        ng-disabled="noneSelected"
                        ng-click='showHideAllStoreChartPopover()'
                        ng-class="{'is-active' : showFilterStores}">
                    All stores
                </button>

                <sb-popup ng-show="showFilterStores"
                          popup-title="Select to compare"
                          popup-options="filterStores"
                          popup-selected="selectFilterStore"
                          multiselect
                          popup-done-callback="showHideAllStoreChartPopover"
                          popup-done-disable="noneSelected"
                          class="sb-popup--compare">
                </sb-popup>
            </div>
        </div>
    </div>

    <div ng-if="chartData.IsData">
        <div class="widget__legends">
            <div class='widget__legends-group current'>
                <span class='widget__legend__current__title'>{{ chartData.currentDateFilter }}:</span>

                <div class="widget__legend">
                    <span class='widget__legend-color widget__legend-color--bar'></span>
                    <span class='widget__legend-name'>{{ !!filterType ? 'Volume' : 'Value' }}</span>
                </div>

                <div class="widget__legend">
                    <span class='widget__legend-color widget__legend-color--line'></span>
                    <span class='widget__legend-name'>Average</span>
                </div>
            </div>

            <div class='widget__legends-group prev' ng-if="chartData.hasCompare">
                <span class='widget__legend__previous__title'>{{ chartData.compareDateFilter }}:</span>

                <div class="widget__legend">
                    <span class='widget__legend-color widget__legend-color--bar'></span>
                    <span class='widget__legend-name'>{{ !!filterType ? 'Volume' : 'Value' }}</span>
                </div>

                <div class="widget__legend">
                    <span class='widget__legend-color widget__legend-color--line'></span>
                    <span class='widget__legend-name'>Average</span>
                </div>
            </div>
        </div>

        <sb-chart-line class="sb-spendingTrends__chart"
                       chart-format="formatAmount"
                       chart-height="150"
                       chart-data="chartData"
                       chart-colors="chartColors">
        </sb-chart-line>
    </div>

    <div class="widget__error"
         ng-if="!chartData.IsData">
        No data available
    </div>

    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>