<div class="sb-customerCount">

    <sb-widget
     widget-title="Customer count"
     widget-loader-target="customerCount">

        <widget-body>
            <sb-text-comparison
             text-comparison-value="count.main | number:0"
             text-comparison-description="activeFilters.dateRange.dateDescription"
             text-comparison-value-compare="count.compare | number:0"
             text-comparison-description-compare="activeFilters.compareDateRange.dateDescription">
            </sb-text-comparison>
        </widget-body>
    </sb-widget>
</div>
