$control-w: 80px;

.sb-slider {
    position: relative;
    padding: $spacing-sm $control-w;
    white-space: nowrap;
    overflow: hidden;

    &__controls {
        position: absolute;
        top: 0;
        bottom: 0;
        width: $control-w;
        background-color: #fff;
        cursor: pointer;

        &:hover {
            color: $b-color-text;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: inherit;
        }

        &[disabled] {
            cursor: not-allowed;
            color: #e1e1e1;
        }

        &--previous {
            left: 0;

            .icon {
                transform: translate(-50%, -50%) rotate(180deg);
            }
        }

        &--next {
            right: 0;
        }
    }

    &__list {
        transition: transform 1000ms ease;

        &__item {
            display: inline-block;
            cursor: pointer;
        }
    }
}


