<div class="sb-slider">
    <ul class="sb-slider__list"
        ng-style="{ 'animation-duration': animationDuration + 'ms' }">
        <li class="sb-slider__list__item"
            ng-repeat="item in activeList"
            ng-style="{ width: 100/itemsPerSlide + '%' }"
            ng-transclude>
        </li>
    </ul>
    <div class="sb-slider__controls sb-slider__controls--previous"
         ng-disabled="page === 0 || inProgress.next"
         ng-click="previousPage()">
        <i class="icon icon-arrow-right"></i>
    </div>
    <div class="sb-slider__controls sb-slider__controls--next"
         ng-disabled="page === maxPage || inProgress.previous"
         ng-click="nextPage()">
        <i class="icon icon-arrow-right"></i>
    </div>
</div>