// --------------------------------------------------------------------------
// Grid
// --------------------------------------------------------------------------

// SETTINGS
$grid-container: 'grid';
$grid-unit: 'u';
$breakpoints: (xs: 0, sm: 320px, md: 480px, lg: 768px, xlg: 1025px, xxlg: 1280px);
$gutters: (default: 0);
$columns: 10;

// MIXINS
@mixin grid($prefix: null, $size: null) {
    @if $prefix and $size{
        @media (min-width: $size) {
            $name: '#{$grid-container}-#{$grid-unit}-#{$prefix}';
            @include set-gutters($prefix);
            @include grid-output($name);
        }
    } @else {
        $name: '#{$grid-container}-#{$grid-unit}';
        @include set-gutters(default);
        @include grid-output($name);
    }
}

@mixin grid-output($name) {
    @for $l from 1 through $columns {
        @for $i from 1 through ($l - 1) {
            $unit-name: '';
            @if $i == $l {
                $unit-name: '#{$name}-#{$i}';
            } @else {
                $unit-name: '#{$name}-#{$i}-#{$l}';
            }

            @if $i != 0 and gcd($i, $l) == 1 {
                .#{$unit-name} {
                    width: (100% * ($i / $l));
                }
            }
        }
    }
}

@mixin set-gutters($key) {
    @if map-has-key($gutters, $key) {
        $gutter-size: map-get($gutters, $key)/2;

        .#{$grid-container} {
            margin-left: -$gutter-size;
            margin-right: -$gutter-size;
        }

        [class*="#{$grid-container}-#{$grid-unit}"] {
            padding-left: $gutter-size;
            padding-right: $gutter-size;
        }
    }
}

// FUNCTIONS
@function gcd($a, $b) {
    @if $b == 0 {
        @return $a;
    }
    @return gcd($b, ($a % $b));
}

// OUTPUT
.#{$grid-container} {
    display: block;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

[class*="#{$grid-container}-#{$grid-unit}"] {
    display: block;
    float: left;
    box-sizing: border-box;
}

@include grid();
@each $prefix, $size in $breakpoints {
    @include grid($prefix, $size);
}
