// --------------------------------------------------------------------------
// Responsive
// --------------------------------------------------------------------------

// "Breakpoint"; i.e. commonly used widths at which to change the layouts
$bp-name-list: 'xs', 'sm', 'md', 'lg', 'xlg', 'xxlg';

$bp-xs: 0;
$bp-sm: 320px;
$bp-md: 480px;
$bp-lg: 768px;
$bp-xlg: 1025px;
$bp-xxlg: 1280px;


// Breakpoints
// --------------------------------------------------------------------------

 @mixin pg-bp($point) {
    // XS obj vars
    $bp-xs-obj: nth($pg-bps, 1);
    $bp-xs: nth($bp-xs-obj, 1);

    // If XS
    @if $point == $bp-xs {
        @content;
    }

    @else {
        @each $bp in $pg-bps {
            $bp-name: nth($bp, 1);
            $bp-width: nth($bp, 2);

            @if $point == $bp-name {
                @media (min-width: $bp-width) {
                    @content;
                }
            }

        }
    }
}

@mixin bp($point) {
    @if $point == xs {
        @content;
    }
    @else if $point == sm {
        @media (min-width: $bp-sm) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: $bp-md) {
            @content;
        }
    }
    @else if $point == lg {
        @media (min-width: $bp-lg) {
            @content;
        }
    }
    @else if $point == xlg {
        @media (min-width: $bp-xlg) {
            @content;
        }
    }
    @else if $point == xxlg {
        @media (min-width: $bp-xxlg) {
            @content;
        }
    }
    @else if $point == xxxlg {
        @media (min-width: $bp-xxxlg) {
            @content;
        }
    }
    @else {
        @media (min-width: $point) {
            @content;
        }
    }
}
