$footer-height: 150px;
$item-height: 50px;
$item-spacing: 30px;
$transition-d: 0.3s; // This is referenced in the widget chart width redraw timeout

$header-h: $sb-header-h + $sb-toolbar-h;
$header-img-s: 60px;
$title-h: 38px;

.sidebar {}

    .sidebar__content {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: $sidebar-w;
        background-color: #fff;
        box-shadow: 2px 0 0 #ebebeb;
        transform: translateX(-100%);
        transition: transform $transition-d ease;
        overflow: hidden;

        &.is-open {
            transform: translateX(0);
        }

        @include bp(xlg) {
            z-index: 1;
            transform: translateX(0);
        }
    }

        .sidebar__overlay {
            z-index: 4;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(237, 237, 237, 0.8);
            transition: opacity 0.3s ease;

            &.is-active {
                opacity: 1;
                visibility: visible;

                @include bp(xlg) {
                    display: none;
                }
            }
        }

        .sidebar__close {
            z-index: 2;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 15px;
            height: 15px;
            cursor: pointer;

            @include bp(xlg) {
                display: none;
            }
        }

        // header
        .sidebar__header {
            z-index: 1;
            position: relative;
            height: $header-h;
            line-height: $header-h;
            background-color: #f9f9f9;
        }

            .sidebar__header__logo {
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 0 15px;
                width: $header-img-s;
                height: $header-img-s;
                border: 2px solid $b-color;
                border-radius: 50%;
            }

            .sidebar__header__name {
                display: inline-block;
                vertical-align: middle;
                color: $b-color;
            }

        // list
        .sidebar__title {
            padding-left: $item-spacing;
            height: $title-h;
            line-height: $title-h;
            border-top: 1px solid $b-color-gray;
            border-bottom: 1px solid $b-color-gray;
            color: #333;
        }

        .sidebar__list {
            @extend %scrollbars;
            height: calc(100% - (#{$header-h} + #{$footer-height} + #{$title-h}));
        }

            .sidebar__item {
                position: relative;
                display: block;
                height: $item-height;
                line-height: $item-height;
                cursor: pointer;

                * {
                    vertical-align: middle;
                }

                &:hover {
                    background-color: #F9F9F9;
                }

                &.is-active {
                    background-color: #F9F9F9;
                    color: #03A;
                }

                .sidebar__list & {
                    &:first-child {

                        .sidebar__item__content {
                            box-shadow: none;
                        }

                        .sidebar__item__icon {
                            transform: translate(0);
                        }
                    }
                }
            }

                .sidebar__item__content {
                    padding-left: $item-spacing;
                    box-shadow: $item-spacing -1px 0 0 $b-color-gray;
                }

                .sidebar__item__icon {
                    width: 25px;
                    transform: translateY(-5px);
                }

                .sidebar__item__selected {
                    color: $b-color;
                }

                .sidebar__item__title {
                    @extend %ellipses;
                    display: inline-block;
                    padding-left: 5px;
                    width: 230px;
                    line-height: 1;
                }

                    .sidebar__item__title-id {
                        margin-top: 2px;
                        font-size: 10px;
                        color: #888;
                    }

        // footer
        .sidebar__footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: $footer-height;
            background-color: #fff;

            .sidebar__item__icon {
                transform: translate(0);
            }
        }

            .sidebar__footer__title {
                padding: 15px 0;
                padding-left: $item-spacing;
                border-top: 1px solid $b-color-gray;
                color: #333;
            }
