<div class="sidebar">
    <div class="sidebar__content"
     ng-class="{ 'is-open': sidebar.isOpen }">
        <i class='icon icon-close sidebar__close'
         ng-click='toggleSidebar()'>
        </i>

        <div class='sidebar__header'>
            <img class='sidebar__header__logo'
             ng-src='{{ currentUser.pathToProfileLogo }}'>
            <div class='sidebar__header__name'>
                {{ currentUser.name }}
            </div>
        </div>

        <div class='sidebar__title'>
            Your stores
        </div>

        <ul class="sidebar__list">
            <li ng-repeat='merchant in merchantList'
             class='sidebar__item'
             ng-click='toggleSidebar(); setFilter(merchant)'
             ng-class="{ 'is-active' : activeMerchant.id === merchant.id }"
             title="{{ merchant.name }}">

                <div class="sidebar__item__content">
                    <i class='icon sidebar__item__icon'
                     ng-class="$index === 0 ? 'icon-stores' : 'icon-store'">
                    </i>

                    <div class="sidebar__item__title is-uppercase">
                        {{ merchant.name }}
                        <div class="sidebar__item__title-id">
                            {{ merchant.id }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="sidebar__footer">
            <div class="sidebar__footer__title">
                Contact
            </div>

            <ul>
                <li ng-click="toggleSidebar(); openHelp()"
                 class='sidebar__item sidebar__item--footer'>

                    <div class="sidebar__item__content">
                        <i class='icon icon-help sidebar__item__icon'></i>
                        <div class="sidebar__item__title">
                            Help
                        </div>
                    </div>
                </li>
                <li ng-click="toggleSidebar(); openContactUs()"
                 class='sidebar__item sidebar__item--footer'>

                    <div class="sidebar__item__content">
                        <i class='icon icon-phone sidebar__item__icon'></i>
                        <div class="sidebar__item__title">
                            Contact us
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar__overlay"
     ng-class="{ 'is-active' : sidebar.isOpen }"
     ng-click="toggleSidebar()">
    </div>

    <sb-modal
     modal-title="Help"
     modal-show="helpOpen"
     show-submit="true">
        <sb-help></sb-help>
    </sb-modal>

    <sb-modal
     modal-title="Contact Us"
     modal-show="contactUsOpen"
     show-submit="true">
        <sb-contactus></sb-contactus>
    </sb-modal>
</div>
