// --------------------------------------------------------------------------
// Base styles and reset overrides
// --------------------------------------------------------------------------


// Var setup
// --------------------------------------------------------------------------
$b-font-family: 'Roboto-Regular', sans-serif;
$b-font-family-alt: 'Roboto-Bold', sans-serif;
$b-font-family-med: 'Roboto-Medium', sans-serif;
$b-font-size: 14px;
$b-line-height: 1.4;

$b-color: #0033aa; // blue
$b-color-light: #36c; // blue light
$b-color-alt: #0ad;
$b-color-gray: #ededed;
$b-color-text: #666;

$b-font-family: 'Roboto-Regular';
$b-font-family-alt: 'Roboto-Bold';

$b-color-highlighting: $b-color-alt;

// General
// --------------------------------------------------------------------------

html {
   height: 100%;
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   margin: 0;
   height: 100%;
   width: 100%;
   background-color: $b-color-gray;
   color: $b-color-text;
   font-family: $b-font-family;
   font-size: $b-font-size;
   line-height: $b-line-height;
}

button {
   font-family: $b-font-family;
   font-size: $b-font-size;
   border: none;
   font-size: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   outline: none;
}

dt,
dd {
   margin: 0;
   width: 50%;
}

dt {
   float: left;
   clear: left;
}

dd {
   float: right;
   clear: right;
   text-align: right;
}

ol,
ul {
   margin: 0;
   padding: 0;
}

dl {
   margin: 0;
}

li {
   display: inline-block;
   list-style: none;
}

a {
   color: $b-color-text;
   cursor: pointer;
   text-decoration: none;

   &:hover {
       color: $b-color-text;
   }

   &:focus,
   &:active {
       outline: 0;
   }
}

p {
   margin: 0;
}

em {
   font-style: normal;
}

figure img {
   max-width: 100%;
}

img {
   display: block;
   border: none;
}

table {
   border-spacing: 0;
   // table-layout: fixed;
}

th {
   text-align: left;
   font-weight: normal;
}


// Headers
// --------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5 {
   margin: 0;
   line-height: 1;
   font-weight: normal;
}


// Inputs
// --------------------------------------------------------------------------
body,
input,
textarea {
   color: $b-color-text;
}

select {
   color: $b-color-text;
   cursor: pointer;
}

input,
textarea,
select {
   &:focus {
       outline-color: $b-color-text;
   }
}

input {
   &::-ms-clear {
       display: none;
   }
}
