// --------------------------------------------------------------------------
// Clear fix
// --------------------------------------------------------------------------

.cf {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}