// --------------------------------------------------------------------------
// Custom font icons - ICOMOON
// --------------------------------------------------------------------------

$i-font: 'icomoon';
$i-color: $b-color;
$i-font-size: $b-font-size;

@font-face {
    font-family: $i-font;
    src: url('../assets/fonts/icomoon.eot?48r5hf');
    src: url('../assets/fonts/icomoon.eot?48r5hf#iefix') format('embedded-opentype'),
         url('../assets/fonts/icomoon.woff2?48r5hf') format('woff2'),
         url('../assets/fonts/icomoon.ttf?48r5hf') format('truetype'),
         url('../assets/fonts/icomoon.woff?48r5hf') format('woff'),
         url('../assets/fonts/icomoon.svg?48r5hf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-family: $i-font;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: $i-font-size;
    color: $i-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.icon {
    @extend i;
}

.icon--reverse {
    transform: rotateY(180deg);
}

.icon-basket:before {
    content: "\e90c";
}
.icon-label:before {
    content: "\e90d";
}
.icon-info:before {
    content: "\e90b";
}
.icon-arrow-right:before {
    content: "\e90a";
}
.icon-close:before {
    content: "\e907";
}
.icon-phone:before {
    content: "\e0cd";
}
.icon-help:before {
    content: "\e906";
}
.icon-cart:before {
    content: "\e903";
}
.icon-graph:before {
    content: "\e904";
}
.icon-card:before {
    content: "\e905";
}
.icon-store:before {
    content: "\e900";
}
.icon-stores:before {
    content: "\e901";
}
.icon-refresh:before {
    content: "\e902";
}
.icon-arrow-down:before {
    content: "\e908";
}
.icon-arrow-up:before {
    content: "\e909";
}
