// --------------------------------------------------------------------------
// Font
// --------------------------------------------------------------------------

@font-face {
    font-family: $b-font-family;
    src: url('../assets/fonts/roboto-regular.woff') format('woff2');
    src: url('../assets/fonts/roboto-regular.woff') format('woff');
}

@font-face {
    font-family: $b-font-family-alt;
    src: url('../assets/fonts/roboto-bold.woff') format('woff2');
    src: url('../assets/fonts/roboto-bold.woff') format('woff');
}

@font-face {
    font-family: $b-font-family-med;
    src: url('../assets/fonts/Roboto-Medium.ttf') format('ttf');
}