// --------------------------------------------------------------------------
// Grid
// --------------------------------------------------------------------------

.grid-row {
	@extend .cf;
}

.grid-50 {
	float: left;
	width: calc( 50% - (#{$spacing-sm} / 2) );

	&:last-child {
		float: right;
	}
}

$overview_gutter: 24px;
.overview__grid{
	width: 940px;
	display: table;
	margin: 0 auto;

	&__row{
		display: table-row;
		margin-top: $overview_gutter;
	}

	&__cell{
		display: inline-block;

		&--small{
			width: 217px;
			float: left;
		}

		&--medium{
			width: 458px;
			float: left;
		}

		&--large{
			width: 699px;
			float: left;
		}
	}
}

.overview__nested__grid{
	display: inline-table;

	&__row{
		width: 699px;
	}

	&__cell{
		display: inline-block;

		&--small{
			width: 217px;
			float: left;
		}

		&--medium{
			width: 458px;
			float: left;
		}
	}
}

.margin__right{
	margin-right: $overview_gutter;
}

.margin__top{
	margin-top: $overview_gutter;
}

