// --------------------------------------------------------------------------
// Base highlighting
// --------------------------------------------------------------------------

::-moz-selection {
	background: $b-color-highlighting;
    color: #fff;
    fill: #fff;
	text-shadow: none;
}

::selection {
	background: $b-color-highlighting;
	color: #fff;
    fill: #fff;
	text-shadow: none;
}