// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

.container {
    padding: 0 40px;
    min-width: 768px;
}

.container--main {
    padding: 0 30px;
}

$sb-header-h: 60px;
$sb-toolbar-h: 45px;
$sidebar-w: 320px;
$widget-header-h: 39px;
$widget-header-padding-w: 20px;

$spacing-xxsm: 5px;
$spacing-xsm: 10px;
$spacing-sm: 15px;
$spacing-md: 25px;
$spacing-lg: 30px;
$spacing-xlg: 40px;
