// --------------------------------------------------------------------------
// Misc
// --------------------------------------------------------------------------

%box-shadow {
    box-shadow: 0 1px 1px 0 rgba(68, 68, 68, 0.19);
}

%box-shadow-modal {
    box-shadow: 0 4px 7px 2px rgba(68, 68, 68, 0.5);
}

%ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.is-uppercase {
    text-transform: uppercase;
}

.is-transparent {
    color: transparent;
}
