// --------------------------------------------------------------------------
//  Scrollbars
// --------------------------------------------------------------------------

%scrollbars {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        border-left: 1px solid #E8E8E8;
        background-color: #F0F0F0;
        width: 10px;
        display: inline-block;
    }


    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-left: 1px solid #E8E8E8;
    }
}

%scrollbars-horizontal {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        border-top: 1px solid #E8E8E8;
        background-color: #F0F0F0;
        width: 10px;
        display: inline-block;
    }


    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-top: 1px solid #E8E8E8;
    }
}

%scrollbars-main {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        border: 0;
    }

    &::-webkit-scrollbar-track {
        border-top: 1px solid rgba(68, 68, 68, 0.19);
        border-left: 1px solid rgba(68, 68, 68, 0.19);
        background-color: #F0F0F0;
        width: 10px;
        display: inline-block;
    }


    &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-top: 1px solid rgba(68, 68, 68, 0.19);
        border-left: 1px solid rgba(68, 68, 68, 0.19);
    }
}