.sb-singleTransactionRange {
    height: 154px;
}

.singleTransaction_wrap{
    min-height: 83px;
}

.sb-singleTransactionRange__loading{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

$icon-wrapper-line: 0 0 0 1px #0033aa;
.singleTransaction-item{
    &__icon{
        float: left;
    }

    &__content{
        padding: 7px $spacing-sm 0 20px;
        width: 100%;
        height: 83px;
        overflow: hidden;

        &__group{
            float: left;
            width: 50%;

            &__row{
                line-height: 25px;
                position: relative;
                float: left;
            }
        }

        &__title{
            padding: 0 $spacing-sm 0 26px;
            font-size: 12px;
            font-family: $b-font-family;
            color: #0033aa;
        }

        &__value{
            float: left;
            font-size: 22px;
            font-family: $b-font-family-med, sans-serif;
            color: #3366cc;
        }

        &__merchant{
            font-size: 10px;
            font-family: $b-font-family;
            color: #999999;
        }
    }
}