<div class="sb-singleTransactionRange">
    <sb-loading target="singleTransactionRange"
        class="sb-singleTransactionRange__loading">
    </sb-loading>
    <div class="widget__header">
        <div class="widget__title">
            Single transaction
        </div>
        <!--<i class="icon icon-refresh filter__refresh"
           ng-click="getData()">
        </i>-->
    </div>
    <div class="widget__content-wrap singleTransaction_wrap">
        <div class="widget__content">
            <div class="singleTransaction-item__content">
                <div class="singleTransaction-item__content__group">
                    <span class="singleTransaction-item__content__group__row">
                        <img class="singleTransaction-item__icon"
                             ng-src='assets/images/icn_arrow_up_21x21.png'/>
                        <p class="singleTransaction-item__content__title">
                            Highest single transaction
                        </p>
                    </span>
                    <span class="singleTransaction-item__content__group__row">
                        <p class="singleTransaction-item__content__value">
                            {{higestTransaction.value | currency: 'R ':2}}
                        </p>
                        <br>
                        <p class="singleTransaction-item__content__merchant">
                            {{higestTransaction.merchant}}
                        </p>
                    </span>
                </div>
                <div class="singleTransaction-item__content__group">
                    <span class="singleTransaction-item__content__group__row">
                        <img class="singleTransaction-item__icon"
                             ng-src='assets/images/icn_arrow_down_21x21.png'/>
                        <p class="singleTransaction-item__content__title">
                            Lowest single transaction
                        </p>
                    </span>
                    <span class="singleTransaction-item__content__group__row">
                        <p class="singleTransaction-item__content__value">
                            {{lowestTransaction.value | currency: 'R ':2}}
                        </p>
                        <br>
                        <p class="singleTransaction-item__content__merchant">
                            {{lowestTransaction.merchant}}
                        </p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>