.sb-topPerformingStore{
  height: 154px;
}

.topPerformingStore_wrap{
  min-height: 83px;
}

.sb-topPerformingStore__loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.topPerformer{

  &__content{
    width: 100%;
    height: 83px;
    overflow: hidden;

    &__label{
      color: #3366cc;
      width: 100%;
      height: 50%;
      padding: 5px 20px;
      font-family: $b-font-family-med;

      &--name{
        font-size: 14px;
      }

      &--id{
        font-size: 10px;
      }
    }

    &__divider{
      color: #3366cc;
      border-bottom: 1px solid #cccccc;
      width: 95%;
      margin: 0 auto;
    }

    &__data{
      font-family: $b-font-family;
      padding: 5px 20px;

      &--value{
        font-size: 12px;
      }

      &--timestamp{
        font-size: 10px;
      }
    }
  }
}
