<div class="sb-topPerformingStore">

    <sb-loading target="topPerformingStore" class="sb-topPerformingStore__loading"></sb-loading>

    <div class="widget__header">
        <div class="widget__title">Top performing store</div>
        <!--<i class="icon icon-refresh filter__refresh"
           ng-click="refresh()">
        </i>-->
    </div>
    <div class="widget__content-wrap topPerformingStore_wrap">
        <div class="widget__content">
            <div class="topPerformer__content">
                <div class="topPerformer__content__label">
                    <div class="topPerformer__content__label--name">
                        {{topPerformingStore.topStoreName}}
                    </div>
                    <div class="topPerformer__content__label--id">
                        {{topPerformingStore.storeId}}
                    </div>
                </div>
                <div class="topPerformer__content__divider"></div>
                <div class="topPerformer__content__data">
                    <p class="topPerformer__content__data--value">
                        {{topPerformingStore.value | currency:"R ":2}}
                    </p>
                    <p class="topPerformer__content__data--timestamp">
                        of sales this week
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>
