// --------------------------------------------------------------------------
// Custom inputs
// --------------------------------------------------------------------------

$size: 16px;
.input-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    width: $size;
    height: $size;

    input {
        visibility: hidden;
        margin: 0;
        width: 100%;
        height: 100%;

        & + .label {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: #fff;
            border-radius: 3px;
            border: 2px solid #999;
            cursor: pointer;

            &:after {
                content: '';
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
            }

            &:hover {
                border: 2px solid #999;
            }

            &.label--filter {
                border: 2px solid #999;
                //border: none;
            }
        }

        &:checked + .label {
            background-color: #00aadd;
            border: 2px solid #00aadd ;
            box-shadow: none;

            &:after {
                opacity: 1;
            }
        }
    }

    input[type=checkbox] {

        & + .label {

            &:after {
                margin-top: -$size / 10;
                border: $size / 10 solid #fff;
                border-top: none;
                border-right: none;
                width: $size / 10 * 6;
                height: $size / 10 * 3;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    input[type=radio] {

        & + .label {
            border-radius: 50%;

            &:after {
                box-shadow: inset 0 0 0 $size / 6 #fff;
                width: $size / 4 * 3;
                height: $size / 4 * 3;
                border-radius: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}