// --------------------------------------------------------------------------
// Widget - filter
// --------------------------------------------------------------------------

.widget__filters {
    float: right;
    font-size: 11px;
}

    .widget__filters__filter {
        display: inline-block;
        margin-left: 20px;
        font-size: 13px;

        &:first-child {
            margin-left: 10px;
        }
    }

    $triangle-h: 5px;
    $triangle-w: 4px;
    .widget__filters__filter--dropdown {
        position: relative;
    }

        .widget__filters__filter--dropdown-toggle {
            position: relative;
            padding: 0 15px 0 0;
            line-height: $widget-header-h;
            overflow: visible;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -$triangle-h / 2;
                border-left: $triangle-w solid transparent;
                border-right: $triangle-w solid transparent;
                border-top: $triangle-h solid #999;
            }

            &[disabled] {
                background-color: #fff; // overlay dropdown arrow
                color: $b-color-gray;
                cursor: not-allowed;

                &::after {
                    border-top-color: $b-color-gray;
                }
            }

            &.is-active {

                &::before {
                    z-index: 2;
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 6px solid white;
                }
            }
        }

        .widget__filters__filter-label {
            margin-left: 5px;

            &.is-active {
                color: $b-color-alt;
            }
        }
