// --------------------------------------------------------------------------
// Widget - legend
// --------------------------------------------------------------------------

.widget__legends {
    padding: 0 20px 0 10px;
    height: $widget-header-h;
    line-height: $widget-header-h;
    text-align: right;
    transition: padding 0.3s ease;

    @include bp(xxlg) {
        padding-left: 20px;
    }
}

    .widget__legends-group {
        display: inline-block;
        font-size: 11px;
        transition: margin 0.2s ease;

        &:last-child {
            margin-left: 10px;

            @include bp(xxlg) {
                margin-left: 55px;
            }
        }
    }

        .widget__legend {
            display: inline-block;
            transition: margin 0.3s ease;
            margin-left: 5px;

            &__title {
                @extend %ellipses;
                display: inline-block;
                vertical-align: bottom;
                max-width: 90px;
                transition: width 0.3s ease;
            }

            @include bp(xxlg) {

                & + .widget__legend {
                    margin-left: 10px;
                }

                &__title {
                    max-width: 100%;
                }
            }
        }

            $square-s-sm: 10px;
            $square-s-lg: 20px;
            .widget__legend-color {
                display: inline-block;
                vertical-align: middle;
                margin: 0 3px;
                margin-top: -2px;
                width: $square-s-sm;
                height: $square-s-sm;
                transition: width 0.3s ease, height 0.3s ease;

                @include bp(xxlg) {
                    width: $square-s-lg;
                    height: $square-s-lg;
                }
            }

            .widget__legend-name {
                font-size: 11px;
            }
