// --------------------------------------------------------------------------
// Widget
// --------------------------------------------------------------------------

.widget {
    @extend %box-shadow;
    position: relative;
    margin: 20px 10px 0;
    background-color: #fff;
    color: #999;
}

.widgetCustomMargin {
    @extend %box-shadow;
    position: relative;
    margin-top: $spacing-md - 5;
    background-color: #fff;
    color: #999;
}

    .widget__header {
        @extend .cf;
        position: relative;
        padding: 0 $widget-header-padding-w;
        line-height: $widget-header-h;
        box-shadow: inset 0 -1px 0 0 $b-color-gray;
    }

    .widget__header--spotlight {
        height: auto; // responsive
        background-color: $b-color-light;
    }

    .widget__header--spotlight__content {
        position: relative;
        padding: $spacing-md 0;
    }

        .widget__title {
            float: left;
            color: #0033aa;

            &--spotlight {
                color: #fff;
            }
        }

    .widget__content-wrap {
        position: relative;
        min-height: 200px;
    }

        .widget__content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        .widget__content-spotlight {
            position: relative;
            padding-left: 10px;
            padding-right: 50px;
        }

            .widget__emphasis {
                font-family: $b-font-family-alt;
                font-size: 22px;
                color: $b-color-light;
            }

    .widget__error {
        text-align: center;
        line-height: $widget-header-h;
        box-shadow: inset 0 -1px 0 0 $b-color-gray;
    }

    .widget__footer {
        @extend .cf;
        position: relative;
        padding: 0 $widget-header-padding-w;
        line-height: $widget-header-h;
        box-shadow: inset 0 1px 0 0 $b-color-gray;
        font-size: 12px;
        color: #00aadd;
    }

        .widget__footer__copy {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            font-size: 10px;
            color: #999;
            cursor: pointer;

            &:hover {
                color: $b-color-alt;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 15px;
                color: inherit;
                transform: translateY(-50%);
                width: 17px;
                height: 17px;
                padding: 1px 0 0 1px;
            }
        }
