.sb-textComparison {
    margin: $spacing-sm $widget-header-padding-w;
    @extend .cf;

    &__content {
        float: left;
        width: 50%;

        &:first-child {
            padding-right: $spacing-xsm;
        }

        &:last-child {
            padding-left: $spacing-xsm;
        }

        &__value {
            @extend %ellipses;
            border-bottom: 1px solid $b-color-gray;
            font-family: $b-font-family-alt;
            font-size: 20px;
            color: $b-color-alt;

            &--secondary {
                color: #999;
            }
        }

        &__description {
            @extend %ellipses;
            font-size: 11px;
        }
    }
}
