<div class="sb-textComparison">
    <div class="sb-textComparison__content"
     ng-hide="value === undefined || description === undefined">
        <p class="sb-textComparison__content__value"
         title="{{ value }}">
            {{ value }}
        </p>
        <p class="sb-textComparison__content__description"
         title="{{ description }}">
            {{ description }}
        </p>
    </div>
    <div class="sb-textComparison__content"
     ng-hide="valueCompare === undefined || descriptionCompare === undefined">
        <p class="sb-textComparison__content__value
                  sb-textComparison__content__value--secondary"
         title="{{ valueCompare }}">
            {{ valueCompare }}
        </p>
        <p class="sb-textComparison__content__description"
         title="{{ descriptionCompare }}">
            {{ descriptionCompare }}
        </p>
    </div>
</div>
