.sb-tradingHours {
  height: 305px;
}

$icon-wrapper-line: 0 0 0 1px #0033aa;

.tradingHours{
  display: table;
  width: 100%;

  &__label{
    margin: 5px 5px 0 0;
    height: 20px;

    &__title{
      float: right;
      font-family: $b-font-family;
      font-size: 10px;
      color: #999999;
      padding: 0 5px 0 5px;
    }

    &__activity{
      float: right;
      width: 20px;
      height: 20px;
      margin-right: 1px;

      &--dark{
        background-color: #3366cc;
      }

      &--medium{
        background-color: #5c85d6;
      }

      &--light{
        background-color: #adc2eb;
      }
    }

    &__noActivity{
      float: right;
      width: 20px;
      height: 20px;
      background-color: #cccccc;
      margin-left: 25px;
    }
  }

  &__chart{
    width: 210px;
    height: 190px;
    margin: 15px 0 0 10px;
    float: left;

    &__icon{
      float: left;
    }

    &__title{
      font-family: $b-font-family;
      font-size: 12px;
      color: #0033aa;
      padding: 3px 0 0 30px;
    }

    &__content{
      width: 100%;
      height: 100%;

      &--chart{
        margin-top: 1%;
        text-align: center;
        padding-top: 5%;
        height: 100%;
        width: 100%;
      }
    }
  }
}