<div class="sb-tradingHours">
    <div class="widget__header">
        <div class="widget__title">
            Trading hours
        </div>
    </div>
    <div class="tradingHours">
        <div class="tradingHours__label">
            <div class="tradingHours__label__title">
                No activity
            </div>
            <div class="tradingHours__label__noActivity"></div>
            <div class="tradingHours__label__title">
                Lowest
            </div>
            <div class="tradingHours__label__activity tradingHours__label__activity--light"></div>
            <div class="tradingHours__label__activity tradingHours__label__activity--medium"></div>
            <div class="tradingHours__label__activity tradingHours__label__activity--dark"></div>
            <div class="tradingHours__label__title">
                Highest
            </div>
        </div>
        <div class="tradingHours__chart">
            <img class="tradingHours__chart__icon"
                 ng-src='assets/images/icn_graph_21x21.png'/>
            <div class="tradingHours__chart__title">
                Sales value
            </div>
            <div class="tradingHours__chart__content">
                <sb-half-pie
                    class="tradingHours__chart__content--chart"
                    height="170"
                    data="valueData"
                    colors="pieColors"
                    slice="valueSlice"
                    filter="applyFilterForValue">
                </sb-half-pie>
            </div>
        </div>
        <div class="tradingHours__chart">
            <img class="tradingHours__chart__icon"
                 ng-src='assets/images/icn_cart_21x21.png'/>
            <div class="tradingHours__chart__title">
                Sales volume
            </div>
            <div class="tradingHours__chart__content">
                <sb-half-pie
                        class="tradingHours__chart__content--chart"
                        height="170"
                        data="volumeData"
                        colors="pieColors"
                        slice="volumeSlice"
                        filter="applyFilterForVolume">
                </sb-half-pie>
            </div>
        </div>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>