@media only screen and (min-width: 1025px) and (max-width: 1350px) {

    .main-wrap {

        .container {

            padding-left: 7px;
            padding-right: 7px;

            .widget {
                .tradingHours {
                    margin-bottom: 10px;
                }

                .tradingHours__chart {
                    width: 98%;
                    height: 237px;
                    margin: 5px 0 0 10px;

                    .tradingHours__chart__content {
                        svg {
                            transform: scale(1.25);
                            -webkit-transform: scale(1.25);
                        }

                        .tradingHours__chart__content--chart {
                            padding-top: 10%;
                        }
                    }
                }
            }

            .grid-row {

                //border: dashed red 1px;

                .widget.sb-tradingHours {
                    height: 600px;
                    min-width: 0;
                }

                .widgetBlock-50 {
                    margin-right: 0;
                    width: 65%;
                    min-width: 0;
                }

                .widgetBlock-25 {
                    width: 34%;

                    .sb-tradingDays .tradingDays-item__content .tradingDays-item__content__dayBlock {
                        width: 13.4%;
                    }

                    .sb-tradingDays .tradingDays-item__group {
                        padding-left: 7px;
                        padding-right: 7px;
                    }
                }
            }
        }
    }
}