.main-wrap {
    @extend %scrollbars-main;
    position: absolute;
    top: $sb-header-h + $sb-toolbar-h;
    right: 0;
    bottom: 0;
    left: 0;
    transition: left 0.3s ease;

    @include bp(xlg) {
        left: $sidebar-w;
    }
}

.main {
    padding-bottom: $spacing-xlg
}