<div>
    <div class="overview__grid">
        <div class="overview__grid__row">
            <sb-spotlight class="widgetCustomMargin">
            </sb-spotlight>
        </div>
        <div class="overview__grid__row">
            <div class="overview__grid__cell overview__grid__cell--small margin__right">
                <sb-top-performing-store
                        class="widgetCustomMargin">
                </sb-top-performing-store>
            </div>
            <div class="overview__grid__cell overview__grid__cell--medium margin__right">
                <sb-single-transaction-range
                        class="widgetCustomMargin">
                </sb-single-transaction-range>
            </div>
            <div class="overview__grid__cell overview__grid__cell--small">
                <!--Online vs store sales widget here-->
            </div>
        </div>
        <div class="overview__grid__row">
            <div class="overview__grid__cell overview__grid__cell--small margin__right">
                <sb-client-demographic
                        class="widgetCustomMargin">
                </sb-client-demographic>
            </div>
            <div class="overview__grid__cell overview__grid__cell--large">
                <div class="overview__nested__grid">
                    <div class="overview__nested__grid__row">
                        <div class="overview__nested__grid__cell--medium margin__right">
                            <sb-trading-hours
                                    class="widgetCustomMargin">
                            </sb-trading-hours>
                        </div>
                        <div class="overview__nested__grid__cell--small">
                            <sb-trading-days
                                    class="widgetCustomMargin">
                            </sb-trading-days>
                        </div>
                    </div>
                    <div class="overview__nested__grid__row">
                        <div class="overview__nested__grid__cell--medium margin__right">
                            <sb-customer-location
                                    class="widgetCustomMargin">
                            </sb-customer-location>
                        </div>
                        <div class="overview__nested__grid__cell--small">
                            <sb-new-returning-customers
                                    class="widgetCustomMargin">
                            </sb-new-returning-customers>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>