<sb-sales-by-store
 class="widget">
 </sb-sales-by-store>

<div class="grid-row">
	<div class="grid-50">
	</div>
	<div class="grid-50">
		<sb-new-returning-customers
         class="widget">
         </sb-new-returning-customers>
	</div>
</div>

