<sb-filter-bar
 class="widget">
</sb-filter-bar>

<div class="grid">
    <div class="grid-u-2-3 grid-u-xxlg-3-4">
        <sb-sales-trends
         class="widget">
        </sb-sales-trends>
    </div>

    <div class="grid-u-1-3 grid-u-xxlg-1-4">
        <sb-customer-count
         class="widget">
        </sb-customer-count>

        <sb-average-customer-value
         class="widget">
        </sb-average-customer-value>
    </div>
</div>

<div class="grid">
    <div class="grid-u-2-3 grid-u-xxlg-3-4">
        <sb-sales-by-store
         class="widget">
        </sb-sales-by-store>
    </div>
</div>

<div class="grid-row">
    <sb-customer-spend-range
     class="widget">
    </sb-customer-spend-range>
</div>
