<div class="sb-help">
    <p class="modal__content__copy">
        If you request a new one-time PIN, your previous code will no longer be valid.
    </p>
    <p class="modal__content__copy">
        Your verification code can be used only once and is valid for 15 minutes from the time you received it.
    </p>
    <p class="modal__content__copy">
        If you did not receive the one-time PIN, please call:
    </p>
    <div class="modal__strip cf">
        <div class="phone">
            <i class="icon icon-phone"></i>

            <div class="phone__contact">
                <a href="tel:0800 020 600"
                 class="phone__contact__number">
                    0800 020 600
                </a>
                <div class="phone__contact__label">
                    Standard Bank Group
                </div>
            </div>
        </div>
        <div class="phone">
            <i class="icon icon-phone"></i>

            <div class="phone__contact">
                <a href="tel:0860 222 050"
                 class="phone__contact__number">
                    0860 222 050
                </a>
                <div class="phone__contact__label">
                    Standard Bank Offshore
                </div>
            </div>
        </div>
    </div>
</div>

