.sb-clientDemographic {
    height: 524.5px;
}

.clientDemographic{
    padding: 5px 5px 5px 5px;
    display: table;
    height: 449px;

    &__group {
        display: table;
        width: 100%;
        margin-left: 5px;

        &__race{
            height: 20px;
            margin-bottom: 5px;
            padding-left: 5px;

            &__column{
                width: 20px;
                height: 20px;
                float: left;
            }

            &--african{
                background-color: #0033aa;
            }

            &--white{
                background-color: #3366cc;
            }

            &--coloured{
                background-color: #00aadd;
            }

            &--asian{
                background-color: #00aa77;
            }

            &--na{
                background-color: #a90a50;
            }

            &--unknown{
                background-color: #ffb822;
            }

            &--title{
                font-family: $b-font-family;
                font-size: 10px;
                color: #999999;
                float: left;
                padding: 4px 0 0 4px;
                width: 40px;
            }
        }

        &__chart{

            &--race{
                padding: 15px 0 0 25px;
            }

            &--gender{
                width: 100px;
                height: 90px;
                float: left;
                position: relative;
            }

            &__container{
                position: relative;

                &--mask{
                    position: absolute;
                }

                &__title{
                    position: absolute;
                    right: 0px;
                    top: 25px;

                    &--value{
                        font-family: $b-font-family;
                        font-size: 22px;
                        color: #3366cc;
                    }

                    &--label{
                        font-family: $b-font-family;
                        font-size: 10px;
                        color: #999999;
                    }
                }
            }
        }

        &__data__none{
            font-family: $b-font-family;
            font-size: 12px;
            color: #999999;
            text-align: center;
            padding: 15px 15px 15px 15px;

            &--race{
                height: 145px;
            }

            &--gender{
                height: 84px;
            }
        }
    }

    &__title {
        padding: 5px 0 0 5px;
        height: 45px;

        &--img{
            float: left;
            padding-top: 12px;
        }

        &--label {
            font-family: $b-font-family;
            font-size: 12px;
            color: #0033aa;
            float: left;
            padding: 15px 0 0 7px;
        }
    }
}