<div class="sb-clientDemographic">
    <div class="widget__header">
        <div class="widget__title">
            Client demographic
        </div>
    </div>
    <div class="clientDemographic">
        <div class="clientDemographic__title">
            <img class="clientDemographic__title--img"
                 ng-src='assets/images/icn_race_21x21.png'/>
            <div class="clientDemographic__title--label">
                Race
            </div>
        </div>
        <br>
        <div class="clientDemographic__group">
            <div class="clientDemographic__group__race">
                <div class="clientDemographic__group__race__column clientDemographic__group__race--african"></div>
                <div class="clientDemographic__group__race--title">
                    African
                </div>
                <div class="clientDemographic__group__race__column clientDemographic__group__race--white"></div>
                <div class="clientDemographic__group__race--title">
                    White
                </div>
                <div class="clientDemographic__group__race__column clientDemographic__group__race--coloured"></div>
                <div class="clientDemographic__group__race--title">
                    Coloured
                </div>
            </div>
            <div class="clientDemographic__group__race">
                <div class="clientDemographic__group__race__column clientDemographic__group__race--asian"></div>
                <div class="clientDemographic__group__race--title">
                    Asian
                </div>
                <div class="clientDemographic__group__race__column clientDemographic__group__race--na"></div>
                <div class="clientDemographic__group__race--title">
                    NA
                </div>
                <div class="clientDemographic__group__race__column clientDemographic__group__race--unknown"></div>
                <div class="clientDemographic__group__race--title">
                    Unknown
                </div>
            </div>
            <div ng-if="clientDemographicRaceData.length > 0">
                <div class="clientDemographic__group__chart--race">
                    <sb-donut-chart
                        chart-height="150"
                        chart-data="clientDemographicRaceData"
                        chart-colors="pieColors">
                    </sb-donut-chart>
                </div>
            </div>
            <div  ng-if="clientDemographicRaceData.length <= 0">
                <div class="clientDemographic__group__data__none clientDemographic__group__data__none--race">
                    No data available
                </div>
            </div>
        </div>
        <div class="clientDemographic__title">
            <img class="clientDemographic__title--img"
                 ng-src='assets/images/icn_gender_21x21.png'/>
            <div class="clientDemographic__title--label">
                Gender
            </div>
        </div>
        <div class="clientDemographic__group">
            <div ng-if="clientDemographicGenderData.length > 0">
                <br>
                <div class="clientDemographic__group__chart--gender">
                    <div class='clientDemographic__group__chart__container'>
                        <div class='clientDemographic__group__chart__container--mask'>
                            <sb-custom-gender-bar
                                data='clientDemographicFemaleData'
                                chart-height='84'
                                chart-width='48'>
                            </sb-custom-gender-bar>
                        </div>
                        <div class='clientDemographic__group__chart__container--mask'>
                            <img ng-src='assets/images/demo_lady.png'/>
                        </div>
                    </div>
                    <div  class='clientDemographic__group__chart__container__title'>
                        <div class='clientDemographic__group__chart__container__title--value'>
                            {{clientDemographicFemaleData.value}}%
                        </div>
                        <div class='clientDemographic__group__chart__container__title--label'>
                            {{clientDemographicFemaleData.label}}
                        </div>
                    </div>
                </div>
                <div class="clientDemographic__group__chart--gender">
                    <div class='clientDemographic__group__chart__container'>
                        <div class='clientDemographic__group__chart__container--mask'>
                            <sb-custom-gender-bar
                                data='clientDemographicMaleData'
                                chart-height='84'
                                chart-width='48'>
                            </sb-custom-gender-bar>
                        </div>
                        <div class='clientDemographic__group__chart__container--mask'>
                            <img ng-src='assets/images/demo_man.png'/>
                        </div>
                    </div>
                    <div class='clientDemographic__group__chart__container__title'>
                        <div class='clientDemographic__group__chart__container__title--value'>
                            {{clientDemographicMaleData.value}}%
                        </div>
                        <div class='clientDemographic__group__chart__container__title--label'>
                            {{clientDemographicMaleData.label}}
                        </div>
                    </div>
                </div>
            </div>
            <div  ng-if="clientDemographicGenderData.length <= 0">
                <div class="clientDemographic__group__data__none clientDemographic__group__data__none--gender">
                    No data available
                </div>
            </div>
        </div>
    </div>
    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>