<div class="sb-averageCustomerValue">

    <sb-widget
     widget-title="Average customer value"
     widget-loader-target="averageCustomerValue">

        <widget-body>

            <sb-text-comparison
             text-comparison-value="apiData[0].value | filterCurrency:'R'"
             text-comparison-description="activeFilters.dateRange.dateDescription"
             text-comparison-value-compare="apiData[1].value | filterCurrency:'R'"
             text-comparison-description-compare="activeFilters.compareDateRange.dateDescription">
            </sb-text-comparison>
        </widget-body>
    </sb-widget>
</div>
