// --------------------------------------------------------------------------
// Tooltips
// --------------------------------------------------------------------------

$arrow-size: 4px;
$border-color: #BDB6B6;
.sb-tooltip {
    position: absolute;
    left: 50%;
    margin-top: -12px;
    padding: $spacing-xxsm $spacing-xsm;
    border: 1px solid #D8D8D8;
    white-space: nowrap;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(-50%, -100%);

    &:before {
        content: "";
        z-index: 0;
        display: block;
        position: absolute;
        left: 50%;
        bottom: -$arrow-size - 1px;
        width: 0;
        border-style: solid;
        border-width: $arrow-size $arrow-size 0;
        border-color: $border-color transparent;
        transform: translateX(-50%);
    }

    &:after {
        content: "";
        z-index: 1;
        display: block;
        position: absolute;
        left: 50%;
        bottom: -$arrow-size;
        width: 0;
        border-style: solid;
        border-width: $arrow-size $arrow-size 0;
        border-color: #fff transparent;
        transform: translateX(-50%);
    }
}

$circle-s: 15px;
    .sb-tooltip-circle {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-top: 10px;
        width: $circle-s;
        height: $circle-s;
        border: 3px solid #fff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.43);
        border-radius: 50%;
        transform: translateX(-50%);
    }

    .tooltip-wrap {

        &:after {
            .sb-chartBar__chart__inner__bar & {}

            .sb-chartBar__chart__inner__circleCurrent & {
                background-color: $color-average1;
            }

            .sb-chartBar__chart__inner__circlePrevious & {
                background-color: $color-average2;
            }
        }
    }

        .sb-chartBar__tooltip__value {
            font-family: $b-font-family-alt;
            font-size: 12px;
            color: #0033aa;
        }