<div ng-style="{ 'left': xCoordinate + 'px', 'top': yCoordinate + 'px' }"
 ng-show="showTooltip"
 class="sb-tooltip">
    <div ng-transclude></div>
    <div ng-show="showCircle"
     ng-style="{'background': circleColor}"
     class="sb-tooltip-circle">
    </div>
</div>