<div class="sb-contactus">
    <div class="modal__strip cf">
        <div class="phone">
            <i class="icon icon-phone"></i>
            <div class="phone__contact">
                <a href="tel:0861 001 200"
                 class="phone__contact__number">0861 001 200</a>
                <div class="phone__contact__label">
                    Merchant Services
                </div>
            </div>
        </div>
    </div>
</div>