.sb-toolbar {
    @extend %box-shadow;
    z-index: 1;
    position: fixed;
    top: $sb-header-h;
    right: 0;
    left: 0;
    height: $sb-toolbar-h;
    line-height: $sb-toolbar-h;
    background-color: #fff;
    transition: left 0.3s ease;

    @include bp(xlg) {
        left: $sidebar-w;
    }
}

    .sb-toolbar__store {
        display: inline-block;
        height: $sb-toolbar-h;
        line-height: $sb-toolbar-h;
    }

        .sb-toolbar__store__title {
            display: inline-block;
            padding-left: 16px;
            color: $b-color;
        }

        .sb-toolbar__store__id {
            display: inline-block;
            margin-left: 5px;
            color: $b-color;
        }


    .nav-listing {
        float: right;
    }

        .nav-link {
            display: inline-block;
            float: right;
            margin-left: 22px;
            height: $sb-toolbar-h;
            line-height: $sb-toolbar-h;
            color: #535353;
            cursor: pointer;
            border-width: 0;
            transition: color 0.2s ease, border-width 0.1s ease;

            &.is-active {
                border-bottom: 4px solid $b-color-alt;
                color: $b-color-alt;
            }
        }