<div class="sb-toolbar">

    <div class="container">
        <div class="sb-toolbar__store">
            <i class="icon icon-stores sb-toolbar__store__image"
             ng-show="sbToolbarCtrl.activeMerchant.id === null">
            </i>

            <i class="icon icon-store sb-toolbar__store__image"
             ng-show="sbToolbarCtrl.activeMerchant.id !== null">
            </i>

            <div class="sb-toolbar__store__title is-uppercase">
                {{ sbToolbarCtrl.activeMerchant.name }}
            </div>
            <div class="sb-toolbar__store__id">
                {{ sbToolbarCtrl.activeMerchant.id }}
            </div>
        </div>

        <ul class="nav-listing">
            <li ng-repeat="pageItem in sbToolbarCtrl.routes"
             class="nav-item">
                <a ng-href="#/{{ pageItem.url }}"
                 ng-click="pageChange(pageItem.url)"
                 ng-class="{ 'is-active' : pageChange(pageItem.url) }"
                 class="nav-link">
                    {{ pageItem.name }}
                </a>
            </li>
        </ul>
    </div>
</div>
