<div class="sb-salesTrends">

    <sb-loading
     target="salesTrends"
     class="sb-salesTrends__loading">
    </sb-loading>

    <div class="widget__header">
        <div class="widget__title">
            Sales trends
        </div>

        <div class="widget__filters">
            <div class="widget__filters__filter">
                <div class="input-container">
                    <input type="radio"
                     ng-model="filterType"
                     ng-value="false"
                     ng-change="refreshFilters()"
                     id="filter-value-sales-trends">
                    <label class="label"
                     for="filter-value-sales-trends">
                    </label>
                </div>
                <label class="widget__filters__filter-label"
                 ng-class="{ 'is-active': !filterType }"
                 for="filter-value-sales-trends">
                    Value
                </label>
            </div>

            <div class="widget__filters__filter">
                <div class="input-container">
                    <input type="radio"
                     ng-model="filterType"
                     ng-value="true"
                     ng-change="refreshFilters()"
                     id="filter-volume-sales-trends">

                    <label class="label label--filter"
                     for="filter-volume-sales-trends">
                    </label>
                </div>

                <label class="widget__filters__filter-label"
                 ng-class="{ 'is-active': filterType }"
                 for="filter-volume-sales-trends">
                    Volume
                </label>
            </div>

            <div class="widget__filters__filter widget__filters__filter--dropdown">
                <button class="widget__filters__filter--dropdown-toggle"
                 ng-disabled="noneSelected"
                 ng-click='showHideAllStoreChartPopover()'
                 ng-class="{'is-active' : showFilterStores}">
                    All stores
                </button>

                <sb-popup
                 ng-show="showFilterStores"
                 popup-title="Select to compare"
                 popup-options="filterStores"
                 popup-selected="selectFilterStore"
                 popup-form-name="salesTrends"
                 multiselect
                 popup-done-callback="showHideAllStoreChartPopover"
                 popup-done-disable="noneSelected"
                 class="sb-popup--compare">
                </sb-popup>
            </div>
        </div>
    </div>

    <div class="widget__legends">
        <div class='widget__legends-group current'>
            <span class='widget__legend__current__title'>{{ currentDateFilter }}:</span>

            <div class="widget__legend">
                <span class='widget__legend-color'
                 ng-style="{ backgroundColor: chartColors.color }">
                </span>
                <span class='widget__legend-name'>Sales value</span>
            </div>
        </div>

        <div class='widget__legends-group prev'
         ng-if="hasCompare">
            <span class='widget__legend__previous__title'>{{ compareDateFilter }}:</span>

            <div class="widget__legend">
                <span class='widget__legend-color widget__legend-color--bar'
                 ng-style="{ backgroundColor: chartColors.colorCompare }">
                </span>
                <span class='widget__legend-name'>Sales value</span>
            </div>
        </div>
    </div>

    <sb-line-graph
     chart-height="204"
     chart-data-labels="chartDataLabels"
     chart-data-values="chartDataValues"
     chart-data-values-compare="chartDataValuesCompare"
     chart-colors="chartColors"
     chart-format="formatAmount">
    </sb-line-graph>

    <div class="widget__footer">
        <div class="widget__footer__copy">
            <i class="icon icon-info"></i>
            What is this?
        </div>
    </div>
</div>
