.sb-popup {
    z-index: 3;
    position: absolute;
    top: 100%;
    margin-top: -1px;
    width: 200px;
    max-height: 300px;
    background: #fff;
    @extend %box-shadow-modal;
}

.sb-popup--compare {
    z-index: 1;
    right: -40px;
    margin-top: 0;
    width: 250px;
}

    $header-h: 40px;
    $option-h: 35px;
    .sb-popup__header {
        padding-left: 15px;
        height: $header-h;
        line-height: $header-h;
        background-color: $b-color;
        color: #fff;
    }

    .sb-popup__content {
        @extend %scrollbars;
        padding: 10px 0;
        max-height: 185px;
    }

        .sb-popup__option {
            display: block;
            padding: 0 15px;
            line-height: $option-h;
            font-size: 13px;

            &.is-active {
                color: $b-color-alt;
            }
        }

            .sb-popup__option__radio {
                margin: -2px 5px 0 0;
                display: inline-block;
                vertical-align: middle;
            }

            .sb-popup__option__label {
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;
                width: calc(100% - 30px);
                line-height: 1;
                color: $b-color-text;

                &.is-active {
                    color: $b-color-alt;
                }
            }

    .sb-popup__footer {
        padding: 0 15px;
        text-align: right;
        border-top: 1px solid $b-color-gray;
    }

        .sb-popup__footer__text {
            padding: 0;
            color: $b-color-alt;

            &[disabled] {
                color: $b-color-gray;
                cursor: not-allowed;
            }
        }