<div class="sb-popup">
    <header class="sb-popup__header">
        {{ title || 'Select' }}
    </header>

    <div class="sb-popup__content">
        <div ng-repeat="option in options"
         class="sb-popup__option"
         ng-class="{ 'is-active' : option.isActive }">

            <div class="input-container">
                <input type="radio"
                 ng-if="!multiSelect"
                 ng-click="selected($index)"
                 ng-model="option.isActive"
                 class="sb-popup__option__radio"
                 ng-value="true"
                 name="{{ formName }}"
                 id="{{ formName }}{{ $index }}">

                <input class="checkbox"
                 ng-if="multiSelect"
                 ng-change="selected($index)"
                 id="{{ formName }}{{ $index }}"
                 type="checkbox"
                 value="{{ option.name }}"
                 ng-model="option.isActive"
                 ng-true-value="true"
                 ng-false-value="false">

                <label class="label"
                 for="{{ formName }}{{ $index }}">
                </label>
            </div>

            <label for="{{ formName }}{{ $index }}"
             class="sb-popup__option__label"
             ng-class="{ 'is-active' : option.isActive }">
                {{ option.label }}
            </label>
        </div>
    </div>

    <footer class="sb-popup__footer"
     ng-if="doneCallback">
        <button class="sb-popup__footer__text"
         ng-disabled="doneDisabled"
         ng-click="doneCallback()">
            Done
        </button>
    </footer>
</div>